﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 95%;
}

#header
{
    background-color: #5c87b2; 
    color:white;
    padding:1px; 
}

#sidebar
{
    float:right;
    margin:10px; 
    padding:10px; 
    border:dotted 5px red; 
    width:250px; 
    text-align:center;
}

#content
{
    margin:10px;
}

#footer
{
    text-align:center;
    clear:both;
}


tr.spaceUnder > td
{
  padding-bottom: 2em;
}


#quoteCreteTable
{
    border-spacing: 10px;
    border-collapse: separate;
}

.nopadding {
   padding-left: 0 !important;
   padding-bottom: 0 !important;
   padding-right: 0 !important;
   padding-top: 0 !important;
   margin: 0 !important;
}