﻿@model PatientHarmony.Web.Models.AddProcedureModel



<link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
      type="text/css" />
<link href="../../Content/css/multi-select.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../../Scripts/anytime.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.multi-select.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.quicksearch.js" type="text/javascript"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>
                        Create Triage for Campaign: @Model.campaign.CampaignTitle
                    </h5>
                </div>
                <div class="widget-content nopadding">
                    @using (Html.BeginForm("CreateProcedure", "Campaign", FormMethod.Post, new { onsubmit = "return (checkForm(this) && true);" }))
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div id="AddProcedure">
                                <center>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="button" value="Add Procedure" onclick="addProcedure('procedures');"
                                                       class="btn btn-success" />
                                            </td>
                                            <td>
                                                <input type="button" value="Delete Procedure" onclick="removeProcedure('procedures');"
                                                       class="btn btn-danger" />
                                            </td>
                                        </tr>
                                    </table>
                                </center>
                                <div id="proc" style="height: 200%;">
                                    <center>
                                        <table id="procedures" width="auto">
                                            <tbody id="procedureBody">
                                                <tr>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Check to Delete
                                                    </th>
                                                    <th>
                                                        Procedure Title
                                                    </th>
                                                    <th>
                                                        Procedure Message
                                                    </th>
                                                    <th>
                                                        Start Date
                                                    </th>
                                                    <th>
                                                        End Date
                                                    </th>
                                                    <th>
                                                        Procedure SMS Send Time
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="chkbox[]" , id="chkbox" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="procedureTitle[]" id="procedureTitle" />
                                                    </td>
                                                    <td>
                                                        <textarea name="procedureMessage[]" id="procedureMessage"> </textarea>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="startDates" id="startDates" class="date" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="endDates" id="endDates" class="date" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="sendTimes" id="sendTimes" class="time" />
                                                    </td>
                                                    <td>
                                                        <input type="button" value="Copy" id="copyProcButton2" onclick="CopyProcedure('procedures', '2', 'procedureBody');">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--Close add Procedures Table -->
                                    </center>
                                </div>
                            </div>
                            <!--close Id=AddProcedure -->
                                <center>
                                    <p class="partialSubmit">
                                        <input type="submit" name="submitProcedureButton" value="Create Procedures" />
                                        <input type="button" value="Cancel" onclick="location.href='@Url.Action("Manage", "Campaign", new { Id = Model.campaign.CampaignId})'" />
                                    </p>
                                </center>

                        </fieldset>
                    }

                </div><!--Widget Contnent No padding -->
                <!--widget box -->
            </div>
            <!--span12-->
        </div>
        <!--row fluid-->
    </div>
    </div>
    <!--container fluid-->
    <link rel="stylesheet" href="../../Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../../Content/css/datepicker.css" />
    <link rel="stylesheet" href="../../Content/css/select2.css" />
    <link rel="stylesheet" href="../../Content/css/maruti-media.css" class="skin-color" />
    <link rel="stylesheet" href="../../Content/css/maruti-style.css" />
    <link href="../../Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/anytime.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript">

    function addProcedure(tableID) {

        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        element1.type = "checkbox";
        element1.name = "chkbox[]";
        cell1.appendChild(element1);

        var cell2 = row.insertCell(1);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.name = "procedureTitle[]"
        cell2.appendChild(element2);

        var cell3 = row.insertCell(2);
        var element3 = document.createElement("textarea");
        //element3.type = "textarea";
        element3.name = "procedureMessage[]"
        cell3.appendChild(element3);


        var cell4 = row.insertCell(3);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.name = "startDates" + (rowCount + 1);
        element4.setAttribute("id", "startDates" + (rowCount + 1));
        element4.setAttribute("type", "text");
        cell4.appendChild(element4);


        var cell5 = row.insertCell(4);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.name = "endDates" + (rowCount + 1);
        element5.setAttribute("id", "endDates" + (rowCount + 1));
        element5.setAttribute("type", "text");
        cell5.appendChild(element5);

        var cell6 = row.insertCell(5);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.name = "sendTimes" + (rowCount + 1);
        element6.setAttribute("id", "sendTimes" + (rowCount + 1));
        element6.setAttribute("type", "text");
        cell6.appendChild(element6);



        var startDates = "startDates" + (rowCount + 1);
        var endDates = "endDates" + (rowCount + 1);
        var sendTimes = "sendTimes" + (rowCount + 1);

        AnyTime.picker(startDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });


        AnyTime.picker(endDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });

        AnyTime.picker(sendTimes,
        {
            format: "%h:%i%p",
            hideInput: false
        });



    }


    function addDatePicker(tableID) {
        var table = document.getElementById(tableID);
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var startDates = "startDates" + rowCount;
        var endDates = "endDates" + rowCount;


        AnyTime.picker(startDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });


        AnyTime.picker(endDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });


    }

    function removeProcedure(tableID) {

        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            var initialCheckBox = document.getElementById("chkbox")

            if (initialCheckBox.checked == true) {
                document.getElementById("procedureTitle").value = "";
                document.getElementById("procedureMessage").value = "";
                document.getElementById("startDates").value = "";
                document.getElementById("endDates").value = "";
                document.getElementById("sendTimes").value = "";

            }

            for (var i = 0; i < rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[0].childNodes[0];
                if (null != chkbox && true == chkbox.checked) {

                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }



            }
        } catch (e) {
            alert(e);
        }

    }



    AnyTime.picker("startDates",
        {
            format: "%W, %M %d %z",
            hideInput: false
        });


    AnyTime.picker("endDates",
        {
            format: "%W, %M %d %z",
            hideInput: false
        });


    AnyTime.picker("sendTimes",
        {
            format: "%h:%i%p",
            hideInput: false
        });

    function CopyProcedure(tableID, clickRow, tBody) {

        try {
            var table = document.getElementById(tableID);
            var tableBody = document.getElementById(tBody);
            var rowCount = table.rows.length;
            var cloneNode = table.rows[clickRow].cloneNode(true);
            
            tableBody.appendChild(cloneNode);

            var startDates = "startDates" + (rowCount);
            var endDates = "endDates" + (rowCount);
            var sendTimes = "sendTimes" + (rowCount);

        } catch (e) {
            alert(e);
        }

        AnyTime.picker(startDates,
            {
                format: "%W, %M %d %z",
                hideInput: false
            });


        AnyTime.picker(endDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });

        AnyTime.picker(sendTimes,
        {
            format: "%h:%i%p",
            hideInput: false
        });
    }

    
</script>



 <script type="text/javascript">

        function checkForm(form) {

            var now = new Date();

            if (form.procedureTitle.value == "") {
                alert("Error: Procedure Title cannot be blank!");
                form.procedureTitle.focus();
                return false;
            }

            var procMessage = form.procedureMessage.value; 
            if (procMessage.trim().length < 1) {
                alert("Error: Procedure Message cannot be blank!");
                form.procedureMessage.focus();
                return false;
            }


            if (Date.parse(form.startDates.value) < now.getDate() || form.startDates.value == "") {
                alert("Error: Procedure Start Date cannot be less than todays date");
                form.startDates.focus();
                return false;
            }

            if ((Date.parse(form.endDates.value)) < (Date.parse(form.startDates.value)) || (form.endDates.value == "")) {
                alert("Error: Procedure End Date must be Greater than the Procedure Start Date");
                form.endDates.focus();
                return false;
            }

            if (form.sendTimes.value == "") {
                alert("Error: Procedure Send Time cannot be blank");
                form.startDates.focus();
                return false;
            }

            var procTitles = document.getElementsByName('procedureTitle[]');
            for (i = 1; i < procTitles.length; i++)
            {
                if (procTitles[i].value == "")
                {
                    alert("Error: Procedure Title cannot be blank!");
                    procTitles[i].focus();
                    return false;
                }
            }

            var procMessages = document.getElementsByName('procedureMessage[]');
            for (i = 1; i < procMessages.length; i++) {
                var procMess = procMessages[i].value; 
                if (procMess.trim().length < 1) {
                    alert("Error: Procedure Message cannot be blank!");
                    procMessages[i].focus();
                    return false;
                }
            }


            var startDatesArr = $('*[id^="startDates"]');
            for (i = 1; i < startDatesArr.length; i++) {
                var startDate = startDatesArr[i].value;
                if (Date.parse(startDate) < now.getDate() || startDate.value == "") {
                    alert("Error: Procedure Start Date cannot be less than todays date");
                    form.startDates.focus();
                    return false;
                }
            }


            var endDatesArr = $('*[id^="endDates"]');
            for (i = 1; i < endDatesArr.length; i++) {
                var endDate = endDatesArr[i].value;
                var startDate = startDatesArr[i].value;
                if ((Date.parse(endDate)) < (Date.parse(startDate)) || (endDate == "")) {
                    alert("Error: Procedure End Date must be Greater than the Procedure Start Date");
                    form.endDates.focus();
                    return false;
                }
            }


            var sendTimesArr = $('*[id^="sendTimes"]');
            for (i = 1; i < procTitles.length; i++) {
                if (sendTimesArr[i].value == "") {
                    alert("Error: Procedure Send Time cannot be blank!");
                    sendTimesArr[i].focus();
                    return false;
                }
            }
            
            return true;

        }



    </script>
