﻿@using Telerik.Web.Mvc.UI;
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Patient Harmony :: Personalized Patient Harmony</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../Content/2013.2.611/telerik.common.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
        type="text/css" />

    <link rel="stylesheet" href="../../Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../../Content/css/fullcalendar.css" />
    <link rel="stylesheet" href="../../Content/css/datepicker.css" />
    
    <link rel="stylesheet" href="../../Content/css/select2.css" />
    <link rel="stylesheet" href="../../Content/2013.2.611/telerik.common.min.css" />
    <link rel="stylesheet" href="../../Content/2013.2.611/telerik.simple.min.css" />
    <link rel="stylesheet" href="../../Content/css/maruti-media.css" class="skin-color" />
    <link rel="stylesheet" href="../../Content/css/maruti-style.css" />
    <link href="../../Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/multi-select.css" rel="stylesheet" />
    <link href="~/Content/css/prettify.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-duallistbox.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.datetimepicker.css" rel="stylesheet" />
   


    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../Scripts/excanvas.min.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/jquery.flot.js"></script>
    <script src="../../Scripts/jquery.flot.resize.js"></script>
    <script src="../../Scripts/jquery.flot.pie.js"></script>
    <script src="../../Scripts/maruti.js"></script>
    <script src="../../Scripts/maruti.dashboard.js"></script>
    <script src="../../Scripts/maruti.chat.js"></script>
    <script src="../../Scripts/jquery.ui.core.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.ui.widget.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.ui.tabs.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.ui.position.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.ui.timepicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script src="../../Scripts/anytime.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.multi-select.js" type="text/javascript"></script>
    <script src="../../Scripts/serialize-0.2.min.js"></script>
    <script src="../../Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
</head>

    @RenderSection("styles", required: false)

<body>
    <!--Header-part-->
    <div id="header">
        <h1>
            <a href="">Patient Harmony</a>
        </h1>
    </div>
    <!--close-Header-part-->


        <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
                <section id="login">
            @Html.Partial("_LoginPartial")
            </section>
            </div>
        </div>
        <div class="container-fluid">
            <div class="quick-actions_homepage">
                <ul class="quick-actions">
                    <li><a href="../../Group/Index"><i class="icon-database"></i>Groups </a></li>
                    <li><a href="../../Campaign/Index"><i class="icon-web"></i>Campaigns</a> </li>
                    <li><a href="../../Contact/Index"><i class="icon-user"></i>Patients</a> </li>
                    <li><a href="../../Triage/Index"><i class="icon-book"></i>Follow Ups</a> </li>
                    <li><a href="../../Procedure/Index"><i class="icon-calendar"></i>Procedures </a></li>
                    <li><a href="../../Template/Index"><i class="icon-cabinet"></i>Templates </a></li>
                    <li><a href="../../Sms/Index"><i class="icon-mail"></i>Emails and SMS</a></li>
                    <li><a href="../../Report/Index"><i class="icon-pdf"></i>Reports and Invoices</a></li>
                </ul>
            </div>
        </div>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            
            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
        </div>
        </div>
    <footer>
           <div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Patient Harmony. Brought to you by <a href="http://www.iriesolutionsglobal.com">Irie Solutions Global</a> </div>
</div>
        </footer>
</body>

</html>
      @(Html.Telerik().ScriptRegistrar())
 




       