﻿@model PatientHarmony.Web.Models.CreateTriageTemplateModel


<link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
      type="text/css" />

<link href="~/Content/css/prettify.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-duallistbox.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../../Scripts/anytime.js" type="text/javascript"></script>
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Active Triage for @Model.Group.CompanyName</h5>
                </div>
                <div class="widget-content nopadding">
@if(Model.activeTriagesForGroup.Count > 0)
                    {
                    <div id="Triages">
                        @(Html.Telerik().Grid(Model.activeTriagesForGroup)
                .Name("Triages")

                .DataKeys(key => key.Add(g => g.TriageId))

                 .Columns(columns =>
            {
                columns.Bound(p => p.TriageId).Hidden();
                columns.Bound(p => p.ContactFullName).Title("Patient Name");
                columns.Bound(p => p.Title);
                columns.Bound(p => p.TriageMessage);
                columns.Bound(p => p.GoodResponseMessage);
                columns.Bound(p => p.BadResponseMessage);
                columns.Bound(p => p.StartDate);
                columns.Bound(p => p.EndDate);
                columns.Bound(p => p.SendDateTime);
                columns.Bound(p => p.CreatedDate).ReadOnly();
                columns.Bound(p => p.HealthTracker).Title("Patient Health Responses");
                columns.Bound(p => p.ContactID).Hidden();
                columns.Command(commands =>
                {
                    commands.Edit();
                }).Width(100).Title("Commands");

            })
                        .Editable(editing => editing.Mode(GridEditMode.PopUp).TemplateName("EditTriage"))

                .Pageable()
                .Sortable()
                .Scrollable()
                .Groupable()
                .Filterable()
                .Resizable(p => p.Columns(true))
                .DataBinding(databinding => databinding.Ajax()
                .OperationMode(GridOperationMode.Client)
                .Update("_SaveAjaxEditingTriage", "Group", new { triage = Model.activeTriagesForGroup })))
                    </div>
}
                </div><!--widget content no padding-->
            </div><!--widget box-->
        </div><!--span12-->
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>
                        Create Triage for Group: @Model.Group.CompanyName
                    </h5>
                </div>
                <div class="widget-content nopadding">
                    <div id="beginForm">
                        @using (Html.BeginForm("CreateTemplateTriage", "Group", FormMethod.Post, new { onsubmit = "return (checkForm(this) && true);" }))
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>

                                <div id="AddTriage">
                                    <center>
                                        
                                        <table width="45%" align="center">
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        @Html.Label("Triage Title")
                                                    </th>
                                                    <th>
                                                        @Html.Label("Triage Message")
                                                    </th>
                                                    <th>
                                                        @Html.Label("SMS Good Health Response Message")
                                                    </th>
                                                    <th>
                                                        @Html.Label("SMS Bad Health Response Message")
                                                    </th>
                                                </tr>
                                                <tr>
                                                <tr>
                                                    <td>
                                                        <div class="editor-field">
                                                            @Html.EditorFor(model => model.TriageTemplateDisplay.TriageTemplateTitle)
                                                            @Html.ValidationMessageFor(model => model.TriageTemplateDisplay.TriageTemplateTitle)
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="editor-field">
                                                            @Html.TextAreaFor(model => model.TriageTemplateDisplay.TriageTemplateMessage)
                                                            @Html.ValidationMessageFor(model => model.TriageTemplateDisplay.TriageTemplateMessage)
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="editor-field">
                                                            @Html.TextAreaFor(model => model.TriageTemplateDisplay.GoodResponseMessage)
                                                            @Html.ValidationMessageFor(model => model.TriageTemplateDisplay.GoodResponseMessage)
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="editor-field">
                                                            @Html.TextAreaFor(model => model.TriageTemplateDisplay.BadResponseMessage)
                                                            @Html.ValidationMessageFor(model => model.TriageTemplateDisplay.BadResponseMessage)
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                        </table>
                                        <br />
                                        <br />
                                        
                                        <table>
                                            <tr>
                                                <th>
                                                    <center>
                                                        @Html.Label("Start Date")
                                                    </center>
                                                </th>
                                                <th>
                                                    <center>
                                                        @Html.Label("End Date")
                                                    </center>
                                                </th>
                                                <th>
                                                    <center>
                                                        @Html.Label("Triage SMS Send Time")
                                                    </center>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="editor-field" >
                                                       
                                                        <input type="text" id="TriageStartDate" name="TriageStartDate" value="@Model.TriageTemplateDisplay.StartDate" />
                                                        <script type="text/javascript">
                                                         
                                                            AnyTime.picker("TriageStartDate", { format: "%W, %M %d %z", hideInput: false });
                                                         </script>
                                                       
                                                        @Html.ValidationMessageFor(model => model.TriageTemplateDisplay.StartDate)
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-field">
                                                        <input type="text" id="TriageEndDate" name="TriageEndDate" value="@Model.TriageTemplateDisplay.EndDate" />
                                                        <script type="text/javascript">
                                                            AnyTime.picker("TriageEndDate", { format: "%W, %M %d %z", hideInput: false });
                                                            
                                                        </script>
                                                       @Html.ValidationMessageFor(model => model.TriageTemplateDisplay.EndDate)
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="editor-field">
                                                        <input type="text" id="TriageSendTime" name="TriageSendTime" value=" @Model.TriageTemplateDisplay.SendDateTime.ToString("hh:mm tt")"/>
                                                        <script type="text/javascript">
                                                            AnyTime.picker("TriageSendTime", { format: "%h:%i%p", hideInput: false });
                                                        </script>
                                                        @Html.ValidationMessageFor(model => model.TriageTemplateDisplay.SendDateTime)
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <br />

                                        <div id="showFolloupFields">

                                            <center>
                                                @Html.Label("Add Follow Ups")
                                                <input type="checkbox" id="AddFollowup" name="AddFollowup" value="true" checked />
                                                <input type="hidden" name="AddFollowup" value="false" /><br />
                                            </center>

                                            <script type="text/javascript">

                                                $('#AddFollowup').click(function(){
                                                    this.checked?$('#FollowUpGeneratorFields').show(1000):$('#FollowUpGeneratorFields').hide(1000);
                                                });


                                            </script>
                                        </div>

                                        
                                        <div id="FollowUpGeneratorFields">

                                            <center>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input type="button" value="Add FollowUp" onclick="addFollowUp('followups');"
                                                                   class="btn btn-success" />
                                                        </td>
                                                        <td>
                                                            <input type="button" value="Delete FollowUp" onclick="removeFollowUp('followups');"
                                                                   class="btn btn-danger" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </center>

                                            <div id="proc" style="height: 200%;">
                                                <center>
                                                    <table id="followups">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    <center>
                                                                        Check to Delete
                                                                    </center>
                                                                </th>
                                                                <th>
                                                                    <center>
                                                                        FollowUp Title
                                                                    </center>
                                                                </th>
                                                                <th>
                                                                    <center>
                                                                        FollowUp Message
                                                                    </center>
                                                                </th>
                                                                <th>
                                                                    <center>
                                                                        FollowUp Good Response Message
                                                                    </center>
                                                                </th>
                                                                <th>
                                                                    <center>
                                                                        FollowUp Bad Response Message
                                                                    </center>
                                                                </th>
                                                                <th>
                                                                    <center>
                                                                        FollowUp StartDate
                                                                    </center>
                                                                </th>
                                                                <th>
                                                                    <center>
                                                                        FollowUp EndDate
                                                                    </center>
                                                                </th>
                                                                <th>
                                                                    <center>
                                                                        FollowUp Send Date and Time
                                                                    </center>
                                                                </th>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>

                                                    <script type="text/javascript">
                                                        
                                                        var followUpList = @Html.Raw(
                                                          Json.Encode(@Model.FollowUps));
                                                     

                                                        if(followUpList.length > 0)
                                                            for(i = 0; i < followUpList.length; i++)
                                                            {
                                                                addFollowUpTemplates('followups', followUpList[i]);
                                                            }

                                                        function addFollowUpTemplates(tableId, followUp) {


                                                            var table = document.getElementById(tableId);

                                                            var rowCount = table.rows.length;
                                                            var row = table.insertRow(rowCount);

                                                            var cell1 = row.insertCell(0);
                                                            var element1 = document.createElement("input");
                                                            element1.type = "checkbox";
                                                            element1.name = "chkbox" + (rowCount);
                                                            element1.setAttribute("id", "chkbox" + (rowCount));
                                                            cell1.appendChild(element1);

                                                            var cell2 = row.insertCell(1);
                                                            var element2 = document.createElement("input");
                                                            element2.type = "text";
                                                            element2.name = "followupTitle" + (rowCount);
                                                            element2.setAttribute("id", "followupTitle" + (rowCount));
                                                            element2.value = followUp.Title;
                                                            cell2.appendChild(element2);

                                                            var cell3 = row.insertCell(2);
                                                            var element3 = document.createElement("textarea");
                                                            element3.name = "followupMessage" + (rowCount)
                                                            element3.setAttribute("id", "followupMessage" + (rowCount));
                                                            element3.value = followUp.TemplateFollowUpMessage.replace(/&#39;/gi, "'");
                                                            cell3.appendChild(element3);

                                                            var cell4 = row.insertCell(3);
                                                            var element4 = document.createElement("textarea");
                                                            element4.type = "text";
                                                            element4.name = "followupGoodResponseMessage" + (rowCount + 1);
                                                            element4.setAttribute("id", "followupGoodResponseMessage" + (rowCount));
                                                            element4.value  = followUp.GoodResponseMessage.replace(/&#39;/gi, "'");
                                                            cell4.appendChild(element4);


                                                            var cell5 = row.insertCell(4);
                                                            var element5 = document.createElement("input");
                                                            element5.type = "text";
                                                            element5.name = "followupBadResponseMessage" + (rowCount);
                                                            element5.setAttribute("id", "followupBadResponseMessage" + (rowCount));
                                                            element5.value = followUp.BadResponseMessage.replace(/&#39;/gi, "'");
                                                            cell5.appendChild(element5);

                                                            var cell6 = row.insertCell(5);
                                                            var element6 = document.createElement("input");
                                                            element6.type = "text";
                                                            element6.name = "followupStartDate" + (rowCount + 1);
                                                            element6.setAttribute("id", "followupStartDate" + (rowCount + 1));
                                                            element6.setAttribute("type", "text");
                                                            element6.value = moment(followUp.StartDate).format("LL");
                                                            cell6.appendChild(element6);


                                                            var cell7 = row.insertCell(6);
                                                            var element7 = document.createElement("input");
                                                            element7.type = "text";
                                                            element7.name = "followupEndDate" + (rowCount + 1);
                                                            element7.setAttribute("id", "followupEndDate" + (rowCount + 1));
                                                            element7.setAttribute("type", "text");
                                                            element7.value = moment(followUp.EndDate).format("LL"); 
                                                            cell7.appendChild(element7);

                                                            var cell8 = row.insertCell(7);
                                                            var element8 = document.createElement("input");
                                                            element8.type = "text";
                                                            element8.name = "followupsendTime" + (rowCount + 1);
                                                            element8.className = "time";
                                                            element8.setAttribute("id", "followupsendTime" + (rowCount + 1));
                                                            element8.setAttribute("type", "text");
                                                            element8.value = moment(followUp.SendDateTime).format("h:MMA");
                                                            cell8.appendChild(element8);
                                                    

                                                            var followupStartDate = "followupStartDate" + (rowCount + 1);
                                                            var followupEndDate = "followupEndDate" + (rowCount + 1);
                                                            var followupsendTime = "followupsendTime" + (rowCount + 1);
                                                   


                                                            AnyTime.noPicker(followupStartDate)
                                                            AnyTime.picker(followupStartDate, { format: "%W, %M %d %z", hideInput: false, placement: "popup" });

                                                            AnyTime.noPicker(followupEndDate)
                                                            AnyTime.picker(followupEndDate, { format: "%W, %M %d %z", hideInput: false, placement: "popup" });

                                                            AnyTime.noPicker(followupsendTime)
                                                            AnyTime.picker(followupsendTime, { format: "%h:%i%p", hideInput: false, placement: "popup" });




                                                                                                                
                                                        };
                                                         
                                                    
                                                    </script>

                                                  
                                                     <!--Close add Followups Table -->
                                                </center>
                                            </div>

                   

                                            <script type="text/javascript">

                                                function addFollowUp(tableID) {

                                                    var table = document.getElementById(tableID);

                                                    var rowCount = table.rows.length;
                                                    var row = table.insertRow(rowCount);

                                                    var cell1 = row.insertCell(0);
                                                    var element1 = document.createElement("input");
                                                    element1.type = "checkbox";
                                                    element1.name = "chkbox[]";
                                                    cell1.appendChild(element1);

                                                    var cell2 = row.insertCell(1);
                                                    var element2 = document.createElement("input");
                                                    element2.type = "text";
                                                    element2.name = "followupTitle[]"
                                                    cell2.appendChild(element2);

                                                    var cell3 = row.insertCell(2);
                                                    var element3 = document.createElement("textarea");
                                                    //element3.type = "textarea";
                                                    element3.name = "followupMessage[]"
                                                    cell3.appendChild(element3);

                                                    var cell4 = row.insertCell(3);
                                                    var element4 = document.createElement("textarea");
                                                    //element3.type = "textarea";
                                                    element4.name = "followupGoodResponseMessage[]"
                                                    cell4.appendChild(element4);

                                                    var cell5 = row.insertCell(4);
                                                    var element5 = document.createElement("textarea");
                                                    //element3.type = "textarea";
                                                    element5.name = "followupBadResponseMessage[]"
                                                    cell5.appendChild(element5);

                                                    var cell6 = row.insertCell(5);
                                                    var element6 = document.createElement("input");
                                                    element6.type = "text";
                                                    element6.name = "followupStartDate" + (rowCount + 1);
                                                    element6.setAttribute("id", "followupStartDate" + (rowCount + 1));
                                                    element6.setAttribute("type", "text");
                                                    cell6.appendChild(element6);


                                                    var cell7 = row.insertCell(6);
                                                    var element7 = document.createElement("input");
                                                    element7.type = "text";
                                                    element7.name = "followupEndDate" + (rowCount + 1);
                                                    element7.setAttribute("id", "followupEndDate" + (rowCount + 1));
                                                    element7.setAttribute("type", "text");
                                                    cell7.appendChild(element7);

                                                    var cell8 = row.insertCell(7);
                                                    var element8 = document.createElement("input");
                                                    element8.type = "text";
                                                    element8.name = "followupsendTime" + (rowCount + 1);
                                                    element8.className = "time";
                                                    element8.setAttribute("id", "followupsendTime" + (rowCount + 1));
                                                    element8.setAttribute("type", "text");
                                                    cell8.appendChild(element8);
                                                    

                                                    var followupStartDate = "followupStartDate" + (rowCount + 1);
                                                    var followupEndDate = "followupEndDate" + (rowCount + 1);
                                                    var followupsendTime = "followupsendTime" + (rowCount + 1);
                                                   


                                                    AnyTime.noPicker(followupStartDate)
                                                    AnyTime.picker(followupStartDate, { format: "%W, %M %d %z", hideInput: false, placement: "popup" });

                                                    AnyTime.noPicker(followupEndDate)
                                                    AnyTime.picker(followupEndDate, { format: "%W, %M %d %z", hideInput: false, placement: "popup" });

                                                    AnyTime.noPicker(followupsendTime)
                                                    AnyTime.picker(followupsendTime, { format: "%h:%i%p", hideInput: false, placement: "popup" });





                                                }



                                                function removeFollowUp(tableID) {

                                                    try {
                                                        var table = document.getElementById(tableID);
                                                        var rowCount = table.rows.length;

                                                        var initialCheckBox = document.getElementById("chkbox2")

                                                        if (initialCheckBox.checked == true) {
                                                            document.getElementById("followupTitle2").value = "";
                                                            document.getElementById("followupMessage2").value = "";
                                                            document.getElementById("followupGoodResponseMessage2").value = "";
                                                            document.getElementById("followupBadResponseMessage2").value = "";
                                                            document.getElementById("followupStartDate3").value = "";
                                                            document.getElementById("followupEndDate3").value = "";
                                                            document.getElementById("followupsendTime3").value = "";

                                                        }

                                                        for (var i = 0; i < rowCount; i++) {
                                                            var row = table.rows[i];
                                                            var chkbox = row.cells[0].childNodes[0];
                                                            if (null != chkbox && true == chkbox.checked && chkbox.id != "chkbox2") {
                                                                table.deleteRow(i);
                                                                rowCount--;
                                                                i--;
                                                            }

                                                        }
                                                    } catch (e) {
                                                        alert(e);
                                                    }




                                                 
                                                    var followupStartDate = "followupStartDate" + (rowCount + 1);
                                                    var followupEndDate = "followupEndDate" + (rowCount + 1);
                                                    var followupsendTime = "followupsendTime" + (rowCount + 1);
                                                   

                                                    AnyTime.noPicker(followupStartDate)
                                                    AnyTime.picker(followupStartDate, { format: "%W, %M %d %z", hideInput: false, placement: "popup" });

                                                    AnyTime.noPicker(followupEndDate)
                                                    AnyTime.picker(followupEndDate, { format: "%W, %M %d %z", hideInput: false, placement: "popup" });

                                                    AnyTime.noPicker(followupsendTime)
                                                    AnyTime.picker(followupsendTime, { format: "%h:%i%p", hideInput: false, placement: "popup" });


                                                  


                                                }

                                            </script>





                                        </div>
                                        <br />
                                        <br />


                                        <table>
                                            <tr>
                                                <th>
                                                    <center>
                                                        Send Frequency
                                                    </center>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <center>
                                                        <select id="Frequency" name="Frequency" >
                                                            <option value="1">Daily</option>
                                                            <option value="2">Weekly From Start Date</option>
                                                            <option value="3">Bi - Weekly From Start Date</option>

                                                        </select>
                                                        <script type="text/javascript">
                                                            var freq = "@Model.TriageTemplateDisplay.TriageFrequencyType.ToString()";
                                                            if(freq == "Daily")
                                                            {
                                                                $("select#Frequency").val("1");
                                                            }
                                                            if(freq == "Weekly")
                                                            {
                                                                $("select#Frequency").val("2");
                                                            }
                                                            if(freq == "BiWeekly")
                                                            {
                                                                $("select#Frequency").val("3");
                                                            }

                                                        </script>
                                                    </center>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />

                                        <div><center>Days to Include</center></div>
                                        <br />
                                        
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Sunday&nbsp;</td>
                                                    <td>Monday&nbsp;</td>
                                                    <td>Tuesday&nbsp;</td>
                                                    <td>Wednesday&nbsp;</td>
                                                    <td>Thursday&nbsp;</td>
                                                    <td>Friday&nbsp;</td>
                                                    <td>Saturday&nbsp;</td>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <center>
                                                        <input type="checkbox" id="Sunday" name="Sunday" value="true" checked />
                                                        <input type="hidden" name="Sunday" value="false" /><br />
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <input type="checkbox" id="Monday" name="Monday" value="true" checked />
                                                        <input type="hidden" name="Monday" value="false" /><br />
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <input type="checkbox" id="Tuesday" name="Tuesday" value="true" checked />
                                                        <input type="hidden" name="Tuesday" value="false" /><br />
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <input type="checkbox" id="Wednesday" name="Wednesday" value="true" checked />
                                                        <input type="hidden" name="Wednesday" value="false" /><br />
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <input type="checkbox" id="Thursday" name="Thursday" value="true" checked />
                                                        <input type="hidden" name="Thursday" value="false" /><br />
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <input type="checkbox" id="Friday" name="Friday" value="true" checked />
                                                        <input type="hidden" name="Friday" value="false" /><br />
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <input type="checkbox" id="Saturday" name="Saturday" value="true" checked />
                                                        <input type="hidden" name="Saturday" value="false" /><br />
                                                    </center>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <br />
                                        <script type="text/javascript">
                                            var sendDays = "@Model.TriageTemplateDisplay.SendDays".split("");

                                            for (var i = 0; i < 7; ++i)
                                            {
                                                var z = i.toString();
                                                switch (i) {

                                                    case 0:
                                                        if (sendDays.indexOf(z) > -1)
                                                        {
                                                            var checkbox = document.getElementById('Sunday');
                                                            checkbox.checked = true;
                                                        }
                                                        else
                                                        {
                                                            var checkbox = document.getElementById('Sunday');
                                                            checkbox.checked = false;
                                                        }
                                                        break;
                                                    case 1:
                                                        if (sendDays.indexOf(z) > -1) {
                                                            var checkbox = document.getElementById('Monday');
                                                            checkbox.checked = true;
                                                        }
                                                        else {
                                                            var checkbox = document.getElementById('Monday');
                                                            checkbox.checked = false;
                                                        }
                                                        break;
                                                    case 2:
                                                        if (sendDays.indexOf(z) > -1) {
                                                            var checkbox = document.getElementById('Tuesday');
                                                            checkbox.checked = true;
                                                        }
                                                        else {
                                                            var checkbox = document.getElementById('Tuesday');
                                                            checkbox.checked = false;
                                                        }
                                                        break;
                                                    case 3:
                                                        if (sendDays.indexOf(z) > -1) {
                                                            var checkbox = document.getElementById('Wednesday');
                                                            checkbox.checked = true;
                                                        }
                                                        else {
                                                            var checkbox = document.getElementById('Wednesday');
                                                            checkbox.checked = false;
                                                        }
                                                        break;
                                                    case 4:
                                                        if (sendDays.indexOf(z) > -1) {
                                                            var checkbox = document.getElementById('Thursday');
                                                            checkbox.checked = true;
                                                        }
                                                        else {
                                                            var checkbox = document.getElementById('Thursday');
                                                            checkbox.checked = false;
                                                        }
                                                        break;
                                                    case 5:
                                                        if (sendDays.indexOf(z) > -1) {
                                                            var checkbox = document.getElementById('Friday');
                                                            checkbox.checked = true;
                                                        }
                                                        else {
                                                            var checkbox = document.getElementById('Friday');
                                                            checkbox.checked = false;
                                                        }
                                                        break;
                                                    case 6:
                                                        if (sendDays.indexOf(z) > -1) {
                                                            var checkbox = document.getElementById('Saturday');
                                                            checkbox.checked = true;
                                                        }
                                                        else {
                                                            var checkbox = document.getElementById('Saturday');
                                                            checkbox.checked = false;
                                                        }
                                                        break;
                                                }
                                            }

                                            
                                                                                      
                                        </script>
                                      <!-- Close Add Triage Table -->
                                    </center>
                                </div>
                                <div id="TriageOptions">
                                    <center>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <center>
                                                            @Html.Label("Trigger Point")
                                                        </center>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <center>
                                                            @Html.Label("Disable Triage Extension")
                                                        </center>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <center>
                                                            @Html.Label("Start Triage Immediately")
                                                        </center>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <center>
                                                            @Html.Label("Triage Scale type")
                                                        </center>
                                                    </td>

                                                </tr>
                                                
                                                <tr>
                                                    <td>
                                                        <center>
                                                            <select id="TriggerPoint" name="TriggerPoint">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                            </select>
                                                        </center>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <center>

                                                            <input type="checkbox" id="disableExtension" name="disableExtension" value="true" checked />
                                                            <input type="hidden" name="disableExtension" value="false" /><br />
                                                        </center>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <center>

                                                            <input type="checkbox" id="startNow" name="startNow" value="true" />
                                                            <input type="hidden" name="startNow" value="false" /><br />
                                                        </center>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <center>
                                                            <select id="scaleType" name="scaleType">
                                                                <option value="1">Ascending 1 (no pain) - 10 (Worst Possible Pain)</option>
                                                                <option value="2">Descending 10 (Feeling Great) - 1 (Terribly sick) </option>
                                                                <option value="3">Yes - No</option>
                                                            </select>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </center>

                                    <script type="text/javascript">
                                        var scale = "@Model.TriageTemplateDisplay.TriageScaleType.ToString()";
                                        if (scale == "Ascending") {
                                            $("select#scaleType").val("1");
                                        }
                                        if (scale == "Descending") {
                                            $("select#scaleType").val("2");
                                        }
                                        if (scale == "Boolean") {
                                            $("select#scaleType").val("3");
                                        }

                                        $("select#TriggerPoint").val(@Model.TriageTemplateDisplay.TriggerPoint.ToString());

                                        var disableExtension = document.getElementById('disableExtension');
                                        var extend = @Model.TriageTemplateDisplay.DisTriageExtension.ToString().ToLower();

                                        if(extend)
                                            {
                                        disableExtension.checked = true; 
                                        }
                                        else
                                        {
                                            disableExtension.checked = false; 
                                        }
                                    </script>
                                </div>
                               

                                <div id="Select Patients">
                                    <br />
                                    <br />
                                    <center><div> Select Triage Patients</div></center>
                                    <div id="myGrid">
                                        <center>

                                            <select id="allContacts" class="multiselect" multiple="multiple" name="patient[]">
                                                @for (int i = 0; i < Model.AllContacts.Count(); i++)
                                                {
                                                    if (!@Model.contactsWithTriage.Contains(@Model.AllContacts[i].ContactId))
                                                    {
                                                        <option value="@Model.AllContacts[i].ContactId">
                                                            @Model.AllContacts[i].FirstName @Model.AllContacts[i].LastName - @Model.AllContacts[i].PhoneNumber - @Model.AllContacts[i].EmailAddress @Model.AllContacts[i].InsurerEmailAddress
                                                        </option>
                                                    }
                                                }
                                            </select>
                                            <script>
                                                var demo2 = $('.multiselect').bootstrapDualListbox({
                                                    nonselectedlistlabel: 'Selectable Patients',
                                                    selectedlistlabel: 'Selected Patients',
                                                    preserveselectiononmove: 'moved',
                                                    moveonselect: false,
                                                    initialfilterfrom: ''
                                                });
                                            </script>
                                            <script src="~/Scripts/jquery.placeholder.js"></script>


                                            <script>
                                                $('input').placeholder();
                                                prettyPrint();
                                            </script>
                                        </center>

                                    </div>
                                </div>
                                <center>
                                    <table>
                                        <tr>
                                            <td>
                                                <center>
                                                    <input type="checkbox" id="templateFlag" name="templateFlag" value="true" onclick="EnableDisableTemplateDIV()" />
                                                    <input type="hidden" name="templateFlag" value="false" />Save as FollowUp Template <br />
                                                </center>
                                            </td>
                                        <tr>
                                        <tr>
                                            <td>
                                                <div id="useTemplate" style="display: none;">
                                                    <center> <label>Template Title </label> </center>
                                                    <center><input style="height: auto" type="text" name="templateTitle" id="templateTitle" /></center>
                                                     <center><input type="checkbox" id="globalTemplateFlag" name="globalTemplateFlag" value="true"/></center>
                                                         <center> <input type="hidden" name="globalTemplateFlag" value="false" />Set as Global FollowUp Template <br /></center>
</div>
                                            </td>
                                        </tr>
                                    </table>
                                </center>
                                <script type="text/javascript" language="javascript">
                                    function EnableDisableTemplateDIV() {
                                        var followUpTitle = document.getElementById("TriageTemplateDisplay_TriageTemplateTitle").value;
                                        if ($("#templateFlag").attr("checked")) {
                                            $("#useTemplate").show();
                                            var textbox = document.getElementById('templateTitle');
                                            textbox.value = followUpTitle;


                                        } else {
                                            $("#useTemplate").hide();

                                        }
                                    }
                                </script>
                                <br />
                                <center>
                                    <p class="partialSubmit">
                                        <input type="submit" name="submitTriageButton" value="Create Triage" />
                                        <input type="button" value="Cancel" onclick="location.href='@Url.Action("Manage", "Group", new { Id = Model.Group.GroupId})'" />

                                    </p>
                                </center>

                            </fieldset>
                        }
                    </div>
                </div><!--Widget Contnent No padding -->
            </div><!--widget box -->
        </div><!--span12-->
    </div><!--row fluid-->
</div><!--container fluid-->

<link rel="stylesheet" href="../../Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../Content/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../../Content/css/datepicker.css" />
<link rel="stylesheet" href="../../Content/css/select2.css" />
<link rel="stylesheet" href="../../Content/css/maruti-media.css" class="skin-color" />
<link rel="stylesheet" href="../../Content/css/maruti-style.css" />
<link href="../../Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/anytime.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>



<script type="text/javascript">

    function checkForm(form) {

        var now = new Date();

        var patients = document.getElementById('allContacts');
        var selected = false;
        for (i = 0; i < patients.options.length; i++) {
            var presult = patients.options[i].selected;
            if (presult == true) {
                selected = true;
                break;
            }
        }

        if (selected == false) {
            alert("Error: Please select atleast one Patient!");
            patients.focus();
            return false;
        }

        if (form.TriageTemplateDisplay_TriageTemplateTitle.value == "") {
            alert("Error: Triage Title cannot be blank!");
            form.TriageTemplateDisplay_TriageTemplateTitle.focus();
            return false;
        }

        if (form.TriageTemplateDisplay_TriageTemplateMessage.value == "") {
            alert("Error: Triage Message cannot be blank!");
            form.TriageTemplateDisplay_TriageTemplateMessage.focus();
            return false;
        }

        if (form.TriageTemplateDisplay_GoodResponseMessage.value == "") {
            alert("Error: Triage Good Response Message cannot be blank!");
            form.TriageTemplateDisplay_GoodResponseMessage.focus();
            return false;
        }

        if (form.TriageTemplateDisplay_BadResponseMessage.value == "") {
            alert("Error: Triage Bad Response Message cannot be blank!");
            form.TriageTemplateDisplay_BadResponseMessage.focus();
            return false;
        }

        if (Date.parse(form.TriageStartDate.value) < now.getDate() || form.TriageStartDate.value == "") {
            alert("Error: Triage Start Date cannot be less than todays date");
            form.TriageStartDate.focus();
            return false;
        }

        if ((Date.parse(form.TriageEndDate.value)) < (Date.parse(form.TriageStartDate.value)) || (form.TriageEndDate.value == "")) {
            alert("Error: Triage End Date must be Greater than the Procedure Start Date");
            form.TriageEndDate.focus();
            return false;
        }

        if (form.TriageSendTime.value == "") {
            alert("Error: Triage Send Time cannot be blank");
            form.startDates.focus();
            return false;
        }

        if (form.Frequency.value == "") {
            alert("Error: Must Select a frequency");
            form.Frequency.focus();
            return false;
        }
    
        var addFOllowUpCheckBox = document.getElementById("AddFollowup")

        if (addFOllowUpCheckBox.checked == true) {

            
            var followUpTitles = $('[name^="followupTitle"]');
            for (i = 0; i < followUpTitles.length; i++) {
                if (followUpTitles[i].value == "") {
                    alert("Error: Follow Up Title cannot be blank!");
                    return false;
                }
            }

            var followupMessages = $('[name^="followupMessage"]');
            for (i = 0; i < followupMessages.length; i++) {
                var followupMess = followupMessages[i].value;
                if (followupMess.trim().length < 1) {
                    alert("Error: Followup Message cannot be blank!");
                    return false;
                }
            }


            var followupGoodResponseMessages = $('[name^="followupGoodResponseMessage"]');
            for (i = 0; i < followupGoodResponseMessages.length; i++) {
                var followupGoodResponseMess = followupGoodResponseMessages[i].value;
                if (followupGoodResponseMess.trim().length < 1) {
                    alert("Error: Followup Good Response Message cannot be blank!");
                    return false;
                }
            }

            var followupBadResponseMessages = $('[name^="followupBadResponseMessage"]');
            for (i = 0; i < followupBadResponseMessages.length; i++) {
                var followupBadResponseMess = followupBadResponseMessages[i].value;
                if (followupBadResponseMess.trim().length < 1) {
                    alert("Error: Followup Bad Response Message cannot be blank!");
                    return false;
                }
            }


            var sendTimesArr = $('[name^="sendTimes"]');
            var today = moment().format("LLLL");
           
    
            for (i = 0; i < sendTimesArr.length; i++) {
                if (sendTimesArr[i].value != undefined) {
                    var sendDate = moment(sendTimesArr[i].value).format("LLLL");
                    var diffTime = moment(sendDate).diff(today);
                    if(diffTime < 0 || sendTimesArr[i].value == "") {
                        alert("Error: Follow Up Send Date/Time cannot be blank and must be later than Now!");
                        return false;
                    }
                }
            }


        }


        //get send days
        var a = new Array(7);
        for (var i = 0; i < a.length; ++i) { a[i] = false; }

        for (var i = 0; i < 7; i++) {
            switch (i) {
                case 0:
                    if ($("#Sunday").attr("checked")) {
                        a[i] = true;
                    }
                    break;
                case 1:
                    if ($("#Monday").attr("checked")) {
                        a[i] = true;
                    }
                    break;
                case 2:
                    if ($("#Tuesday").attr("checked")) {
                        a[i] = true;
                        
                    }
                    break;
                case 3:
                    if ($("#Wednesday").attr("checked")) {
                        a[i] = true;
                        
                    }
                    break;
                case 4:
                    if ($("#Thursday").attr("checked")) {
                        a[i] = true;
                        
                    }
                    break;
                case 5:
                    if ($("#Friday").attr("checked")) {
                        a[i] = true;
                        
                    }
                    break;
                case 6:
                    if ($("#Saturday").attr("checked")) {
                        a[i] = true;
                        
                    }
                    break;
            }
        }

        //if none are checked return false
        var daycheck = false;
        for (var i = 0; i < a.length; ++i)
        {
            if (a[i] == true) {
                daycheck = true;
                break;
            };
        }
        
        if (daycheck == false)
        {
            alert("Error: Please Select atlease one day for Triage!");
            return daycheck;
        }



        return true;

    }

</script>


