﻿@model PatientHarmony.Web.Models.CreateTemplateCampaignModel

<link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
      type="text/css" />

<link href="~/Content/css/anytime.css" rel="stylesheet" />
<link href="~/Content/css/prettify.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-duallistbox.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../../Scripts/anytime.js" type="text/javascript"></script>
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>
                        Create Campaign
                    </h5>
                </div>
                <div class="widget-content nopadding">
                    @using (Html.BeginForm("CreateTemplateCampaign", "Group", FormMethod.Post, new { onsubmit = "return (checkForm(this) && true);" }))
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <center>
                                <div id="divCheckbox" style="visibility: hidden">
                                    <input type="text" name="gId" id="gId" value="@Model.Group.GroupId" />
                                </div>
                                <table id="campaigns">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <center>
                                                    @Html.LabelFor(model => model.Campaign.CampaignTitle)
                                                </center>
                                            </th>
                                            <th>
                                                <center>
                                                    @Html.LabelFor(model => model.Campaign.CampaignMessage)
                                                </center>
                                            </th>
                                            <th>
                                                <center>
                                                    @Html.Label("Date and Time to Send Message")
                                                </center>
                                            </th>
                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.EditorFor(model => model.CampaignTemplate.CampaignTemplateTitle)
                                            </td>
                                            <td>
                                                @Html.TextAreaFor(model => model.CampaignTemplate.CampaignTemplateMessage)
                                            </td>
                                            <td>
                                                <input type="text" name="SendDateTime" id="SendDateTime" class="time" value="@Model.CampaignTemplate.SendDateTime" />
                                                <script type="text/javascript">
                                                    AnyTime.picker("SendDateTime", { format: "%W, %M %d %z %h:%i%p", hideInput: false, placement: "popup" });
                                                </script>

                                              
                                            </td>

                                        </tr>
                                    </tbody>
                                </table><!--Close add campaign Table-->
                            </center>

                            <center>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="button" value="Add Procedure" onclick="addProcedure('procedures');"
                                                   class="btn btn-success" />
                                        </td>
                                        <td>
                                            <input type="button" value="Delete Procedure" onclick="removeProcedure('procedures');"
                                                   class="btn btn-danger" />
                                        </td>
                                    </tr>
                                </table>
                            </center>
                            <div id="proc" style="height: 200%;">
                                <center>
                                    <table id="procedures" width="auto">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Check to Delete
                                                </th>
                                                <th>
                                                    Procedure Title
                                                </th>
                                                <th>
                                                    Procedure Message
                                                </th>
                                                <th>
                                                    Start Date
                                                </th>
                                                <th>
                                                    End Date
                                                </th>
                                                <th>
                                                    Procedure SMS Send Time
                                                </th>
                                            </tr>

                                        </tbody>
                                    </table>
                                    @for (var i = 0; i < Model.ProcedureTemplates.Count; i++)
                                    {
                                        var tableId = "procedures";
                                        var procTitle = @Model.ProcedureTemplates[i].ProcedureTemplateTitle;
                                        var procMessage = @Model.ProcedureTemplates[i].ProcedureTemplateMessage;
                                        var startDate = @Model.ProcedureTemplates[i].StartDate;
                                        var endDate = @Model.ProcedureTemplates[i].EndDate;
                                        var sendTime = @Model.ProcedureTemplates[i].SendDateTime;

                                        <script type="text/javascript">
                                            //tableID, procTitle, procMessage, startDate, endDate, sendTime
                                            $(document).ready(function() {

                                                addProcedureTemplates('@tableId', '@procTitle', '@procMessage', '@startDate', '@endDate', '@sendTime');
                                            });
                                        </script>

                                    }
                                    <!--Close add Procedures Table -->
                                </center>
                            </div>


                            <div class="container-fluid">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="widget-box">
                                            <div class="widget-title">
                                                <span class="icon"><i class="icon-th"></i></span>
                                                <h5>
                                                    Select Contacts to Add to Campaign
                                                </h5>
                                            </div>
                                            <!--id=widget title-->
                                            <div class="widget-content nopadding">
                                                <div id="myGrid">
                                                    <center>
                                                        @* <a href='#' id='select-all'>select all Patients</a> <a href='#' id='deselect-all'>deselect all Patients</a>*@
                                                        <select id="allContacts" class="multiselect" multiple="multiple" name="patient[]">
                                                            @for (int i = 0; i < Model.AllContacts.Count(); i++)
                                                            {
                                                                <option value="@Model.AllContacts[i].ContactId">
                                                                    @Model.AllContacts[i].FirstName @Model.AllContacts[i].LastName
                                                                    - @Model.AllContacts[i].PhoneNumber - @Model.AllContacts[i].EmailAddress @Model.AllContacts[i].InsurerEmailAddress
                                                                </option>
                                                            }
                                                        </select>
                                                        <script>
                                                            var demo2 = $('.multiselect').bootstrapDualListbox({
                                                                nonselectedlistlabel: 'Selectable Patients',
                                                                selectedlistlabel: 'Selected Patients',
                                                                preserveselectiononmove: 'moved',
                                                                moveonselect: false,
                                                                initialfilterfrom: ''
                                                            });
                                                        </script>
                                                        <script src="~/Scripts/jquery.placeholder.js"></script>


                                                        <script>
                                                            $('input').placeholder();
                                                            prettyPrint();
                                                        </script>
                                                    </center>
                                                    <center>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <center>
                                                                        <input type="checkbox" id="templateFlag" name="templateFlag" value="true" onclick="EnableDisableTemplateDIV()" />
                                                                        <input type="hidden" name="templateFlag" value="false" />Save as Campaign Template <br />
                                                                    </center>
                                                                </td>
                                                            <tr>
                                                            <tr>
                                                                <td>
                                                                    <div id="useTemplate" style="display: none;">
                                                                        <center> <label>Template Title </label> </center>
                                                                        <center><input style="height: auto" type="text" name="templateTitle" id="templateTitle" /></center>
                                                                        <center><input type="checkbox" id="globalTemplateFlag" name="globalTemplateFlag" value="true" /></center>
                                                                        <center> <input type="hidden" name="globalTemplateFlag" value="false" />Set as Global Campaign Template <br /></center>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </center>
                                                    <script type="text/javascript" language="javascript">
                                                        function EnableDisableTemplateDIV() {
                                                            var campaignTitle = document.getElementById("CampaignTemplate_CampaignTemplateTitle").value;
                                                            if ($("#templateFlag").attr("checked")) {
                                                                $("#useTemplate").show();
                                                                var textbox = document.getElementById('templateTitle');
                                                                textbox.value = campaignTitle;


                                                            } else {
                                                                $("#useTemplate").hide();

                                                            }
                                                        }
                                                    </script>
                                                    <br />
                                                    <center>
                                                        <p class="partialSubmit">
                                                            <input type="submit" name="submitCampaignButton" value="Create Campaign" />
                                                            <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index", "Campaign")'" />
                                                        </p>
                                                    </center>
                        </fieldset>
                    }<!--Close @Html using form -->
                </div>
                <!--Widget Contnent No padding -->
            </div>
            <!--widget box -->
        </div>
        <!--span12-->
    </div>
    <!--row fluid-->
</div>
<!--container fluid-->
<link rel="stylesheet" href="../../Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../Content/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../../Content/css/datepicker.css" />
<link rel="stylesheet" href="../../Content/css/select2.css" />
<link rel="stylesheet" href="../../Content/css/maruti-media.css" class="skin-color" />
<link rel="stylesheet" href="../../Content/css/maruti-style.css" />
<link href="../../Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/anytime.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript">

    function addProcedureTemplates(tableID, procTitle, procMessage, startDate, endDate, sendTime) {

        var procedureTemplates =  '@Html.Raw(Json.Encode(Model.ProcedureTemplates))';

        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        element1.type = "checkbox";
        element1.name = "chkbox" + (rowCount);
        element1.setAttribute("id", "chkbox" + (rowCount));
        cell1.appendChild(element1);

        var cell2 = row.insertCell(1);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.name = "procedureTitle" + (rowCount);
        element2.setAttribute("id", "procedureTitle" + (rowCount));
        element2.value = procTitle;
        cell2.appendChild(element2);

        var cell3 = row.insertCell(2);
        var element3 = document.createElement("textarea");
        element3.name = "procedureMessage" + (rowCount)
        element3.setAttribute("id", "procedureMessage" + (rowCount));
        element3.value = procMessage.replace(/&#39;/gi, "'");
        cell3.appendChild(element3);

        var cell4 = row.insertCell(3);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.name = "startDates" + (rowCount + 1);
        element4.setAttribute("id", "startDates" + (rowCount));
        element4.setAttribute("type", "text");
        element4.value = startDate;
        cell4.appendChild(element4);


        var cell5 = row.insertCell(4);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.name = "endDates" + (rowCount);
        element5.setAttribute("id", "endDates" + (rowCount));
        element5.setAttribute("type", "text");
        element5.value = endDate;
        cell5.appendChild(element5);

        var cell6 = row.insertCell(5);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.name = "sendTimes" + (rowCount);
        element6.setAttribute("id", "sendTimes" + (rowCount));
        element6.setAttribute("type", "text");
        element6.value = sendTime;
        cell6.appendChild(element6);


        var startDates = "startDates" + (rowCount );
        var endDates = "endDates" + (rowCount);
        var sendTimes = "sendTimes" + (rowCount );

        AnyTime.picker(startDates,
        {
            format: "%W, %M %d %z",
            hideInput: false,
            placement: "popup"
        });


        AnyTime.picker(endDates,
        {
            format: "%W, %M %d %z",
            hideInput: false,
            placement: "popup"
        });

        AnyTime.picker(sendTimes,
        {
            format: "%h:%i%p",
            hideInput: false,
            placement: "popup"
        });



    }

</script>


<script type="text/javascript">

    function addProcedure(tableID) {

        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        element1.type = "checkbox";
        element1.name = "chkbox" + (rowCount);
        element1.setAttribute("id", "chkbox" + (rowCount));
        cell1.appendChild(element1);

        var cell2 = row.insertCell(1);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.name = "procedureTitle" + (rowCount);
        element2.setAttribute("id", "procedureTitle" + (rowCount));
        cell2.appendChild(element2);

        var cell3 = row.insertCell(2);
        var element3 = document.createElement("textarea");
        element3.name = "procedureMessage" + (rowCount)
        element3.setAttribute("id", "procedureMessage" + (rowCount));
        cell3.appendChild(element3);

        var cell4 = row.insertCell(3);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.name = "startDates" + (rowCount + 1);
        element4.setAttribute("id", "startDates" + (rowCount));
        element4.setAttribute("type", "text");
        cell4.appendChild(element4);


        var cell5 = row.insertCell(4);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.name = "endDates" + (rowCount);
        element5.setAttribute("id", "endDates" + (rowCount));
        element5.setAttribute("type", "text");
        cell5.appendChild(element5);

        var cell6 = row.insertCell(5);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.name = "sendTimes" + (rowCount);
        element6.setAttribute("id", "sendTimes" + (rowCount));
        element6.setAttribute("type", "text");
        cell6.appendChild(element6);


        var startDates = "startDates" + (rowCount );
        var endDates = "endDates" + (rowCount);
        var sendTimes = "sendTimes" + (rowCount );

        AnyTime.picker(startDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });


        AnyTime.picker(endDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });

        AnyTime.picker(sendTimes,
        {
            format: "%h:%i%p",
            hideInput: false
        });



    }


    function addDatePicker(tableID) {
        var table = document.getElementById(tableID);
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var startDates = "startDates" + rowCount;
        var endDates = "endDates" + rowCount;


        AnyTime.picker(startDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });


        AnyTime.picker(endDates,
        {
            format: "%W, %M %d %z",
            hideInput: false
        });


    }

    function removeProcedure(tableID) {

        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            var initialCheckBox = document.getElementById("chkbox2")

            if (initialCheckBox.checked == true) {
                document.getElementById("procedureTitle2").value = "";
                document.getElementById("procedureMessage2").value = "";
                document.getElementById("startDates2").value = "";
                document.getElementById("endDates2").value = "";
                document.getElementById("sendTimes2").value = "";

            }

            var chkboxArr = $('*[id*="chkbox"]');
            for (var i = 0; i < chkboxArr.length; i++) {

                if (chkboxArr[i].checked && i != 0)
                {
                    table.deleteRow(i + 2);
                    rowCount--;

                }


            }
        } catch (e) {
            alert(e);
        }

    }






</script>

<script type="text/javascript">

    function checkForm(form) {

        var now = new Date();

        if (form.CampaignTemplate_CampaignTemplateTitle.value == "") {
            alert("Error: Campaign Title cannot be blank!");
            form.CampaignTemplate_CampaignTemplateTitle.focus();
            return false;
        }

        if (form.CampaignTemplate_CampaignTemplateMessage.value == "") {
            alert("Error: Campaign Message cannot be blank!");
            form.CampaignTemplate_CampaignTemplateMessage.focus();
            return false;
        }

        if (form.CampaignTemplate_SendDateTime.value == "") {
            alert("Error: Campaign Send Date and Time cannot be blank!");
            form.CampaignTemplate_SendDateTime.focus();
            return false;
        }

        if (form.CampaignTemplate_SendDateTime.value != "") {
            var campaignSendDate = form.CampaignTemplate_SendDateTime.value;

            if (Date.parse(campaignSendDate) < now) {
                alert("Error: Campaign Send Date and Time must be greater than today date and time!");
                form.CampaignTemplate_SendDateTime.focus();
                return false;
            }



            var procTitles = $('*[id*="procedureTitle"]');
            for (i = 0; i < procTitles.length; i++) {
                if (procTitles[i].value == "") {
                    alert("Error: Procedure Title cannot be blank!");
                    return false;
                }
            }

            var procMessages = $('*[id*="procedureMessage"]');
            for (i = 0; i < procMessages.length; i++) {
                var procMess = procMessages[i].value;
                if (procMess.trim().length < 1) {
                    alert("Error: Procedure Message cannot be blank!");
                    return false;
                }
            }


            var startDatesArr = $('*[id*="startDates"]');
            for (i = 0; i < startDatesArr.length; i++) {
                var startDate = moment(startDatesArr[i].value).format('LL');
                var today = moment().format('LL');
                var diffTime = moment(moment(today).diff(startDate)).format('H m s');
                if (startDate != undefined) {
                    if (diffTime < 0) {
                        alert("Error: Procedure Start Date cannot be less than todays date");
                        return false;
                    }
                }
            }


            var endDatesArr = $('*[id*="endDates"]');
            for (i = 0; i < endDatesArr.length; i++) {
                var endDate = moment(endDatesArr[i].value).format('LL');
                var startDate = moment(startDatesArr[i].value).format('LL');
                if (startDate != undefined && endDate != undefined) {
                    if (endDate < startDate) {
                        alert("Error: Procedure End Date must be Greater than the Procedure Start Date");
                        return false;
                    }
                }

            }


            var sendTimesArr = $('*[id*="sendTimes"]');
            for (i = 0; i < procTitles.length; i++) {
                if (sendTimesArr[i].value != undefined) {
                    if (sendTimesArr[i].value == "") {
                        alert("Error: Procedure Send Time cannot be blank!");
                        return false;
                    }
                }
            }

            var patients = document.getElementById('allContacts');
            var selected = false;
            for (i = 0; i < patients.options.length; i++) {
                var presult = patients.options[i].selected;
                if (presult == true) {
                    selected = true;
                    break;
                }
            }

            if (selected == false) {
                alert("Error: Select atleast one Patient to add to Campaign!");
                return false;
            }

            return true;

        }
    }


</script>
