﻿@using System.Globalization
@using PatientHarmony.Data.Entities;
@using Telerik.Web.Mvc.UI;


@model PatientHarmony.Web.Models.GroupIndexModel

<link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
    type="text/css" />
<input type="button" value="Create" onclick="location.href='@Url.Action("IncomingSMS", "SMS", new { From = "5618460337", To = "6182639170", Body = "something" })'" />
   <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span> 
            <h5>Groups</h5>
          </div>
          <div class="widget-content nopadding">
          <div id ="myGrid">
          @if (ViewBag.role == "Administrator")
          { 
           @(Html.Telerik().Grid(Model.GroupObjects).TableHtmlAttributes(new { @class = "table table-bordered data-table" })
        .Name("GroupsTable")
        .DataKeys(keys => keys.Add(g => g.GroupId))
        .ToolBar(commands => commands.Insert().Text("Add New Group"))
       
    .Columns(columns =>
    {
        columns.Bound(p => p.GroupId).Hidden(true).HtmlAttributes(new { style = "font-size: 10px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" });
        columns.Bound(p => p.CompanyName).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.Email).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.PhoneNumber).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.CreatedDate).ReadOnly().HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).ReadOnly();
        columns.Bound(p => p.LastModifiedDate).ReadOnly().HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).ReadOnly();
        columns.Command(commands =>
        {
            commands.Custom("Manage")
                .Action("Manage", "Group")
                .Text("Manage");
                
            commands.Edit();

            commands.Delete();

                           
                
        }).Width(180).Title("Commands");

    })


    .Pageable()
    .Resizable(p => p.Columns(true))
    .Sortable()
    .Selectable()
    .Scrollable(s => s.Enabled(true).Height("auto"))
    .Editable(editing => editing.DisplayDeleteConfirmation(true))
    .Editable(editing => editing.Mode(GridEditMode.PopUp).TemplateName("EditGroup"))
    .DataBinding(dataBinding => dataBinding.Ajax()
            .OperationMode(GridOperationMode.Client)
            .Select("_AjaxBindingGroup", "Group")
            .Insert("_InsertAjaxGroup", "Group")
            .Update("_SaveAjaxEditingGroup", "Group", new { group = Model })
            .Delete("_DeleteAjaxEditingGroup", "Group")
                       )

    )
              }
          
          @if (ViewBag.role == "Standard")
          {
           
             @(Html.Telerik().Grid(Model.GroupObjects).TableHtmlAttributes(new { @class = "table table-bordered data-table" })
                .Name("GroupsTable")
                .DataKeys(keys => keys.Add(g => g.GroupId))
               
            .Columns(columns =>
            {
                columns.Bound(p => p.GroupId).Hidden(true).HtmlAttributes(new { style = "font-size: 10px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" });
                columns.Bound(p => p.CompanyName).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
                columns.Bound(p => p.Email).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
                columns.Bound(p => p.PhoneNumber).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
                columns.Bound(p => p.CreatedDate).ReadOnly().HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).ReadOnly();
                columns.Bound(p => p.LastModifiedDate).ReadOnly().HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).ReadOnly();
                columns.Command(commands =>
                {
                    commands.Custom("Manage")
                        .Action("Manage", "Group")
                        .Text("Manage");
                        
                    commands.Edit();
                        
                }).Width(180).Title("Commands");

            })


            .Pageable()
            .Sortable()
            .Selectable()
            .Scrollable(s => s.Enabled(true).Height("auto"))
            .Editable(editing => editing.DisplayDeleteConfirmation(true))
            .Editable(editing => editing.Mode(GridEditMode.PopUp).TemplateName("EditGroup"))
            .DataBinding(dataBinding => dataBinding.Ajax()
            .OperationMode(GridOperationMode.Client)
            .Select("_AjaxBindingGroup", "Group")
            .Update("_SaveAjaxEditingGroup", "Group", new { group = Model })))
           }
    </div>

          </div>
        </div>
        </div>
</div>


<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage(newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-") {
                resetMenu();
            }
            // else, send page to designated URL            
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
</script>

<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage(newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-") {
                resetMenu();
            }
            // else, send page to designated URL            
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
</script>
