﻿<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Tabs Example</title>
   

    <link href="css/ionic.min.css" rel="stylesheet" />

    <script src="js/ionic.bundle.min.js"></script>
     <!--<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">-->
    <!-- <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>-->
    <!--<script src="scripts/auth0-angular.js"></script>
    <script src="scripts/angularJwt.js"></script>
    <script src="scripts/angularStorage.js"></script>-->
    <script src="js/app.js"></script>
   
    <link href="css/index.css" rel="stylesheet" />


</head>

<body>
    <script src="cordova.js"></script>
    

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>



    <script id="templates/tabs.html" type="text/ng-template">
        <ion-tabs class="tabs-icon-top tabs-positive">

            <ion-tab title="Account" icon="ion-android-contact" href="#/tab/account">
                <ion-nav-view name="account-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Home" icon="ion-home" href="#/tab/home">
                <ion-nav-view name="home-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Campaigns" icon="ion-ios-information" href="#/tab/campaign">
                <ion-nav-view name="campaign-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Procedures" icon="ion-ios-information" href="#/tab/procedure">
                <ion-nav-view name="procedure-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Triages" icon="ion-ios-information" href="#/tab/triage">
                <ion-nav-view name="triage-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="FollowUps" icon="ion-ios-information" href="#/tab/followup">
                <ion-nav-view name="followup-tab"></ion-nav-view>
            </ion-tab>


            <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
                <ion-nav-view name="about-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
                <ion-nav-view name="contact-tab"></ion-nav-view>
            </ion-tab>

        </ion-tabs>
    </script>

    <script id="templates/account.html" type="text/ng-template">
        <ion-view view-title="Patient harmony : personalized patient harmony">
            <ion-content class="padding">
                <center>
                    <div class="control-group normal_text">

                        <img src="res/img/logo.png" />
                    </div>
                    <form name="$parent.loginForm">
                        <div class="control-group">
                            <div class="controls">
                                <span class="input-label"><i class="icon ion-android-contact"></i>Username</span>
                                <input class="accountInput" type="text" name="username" ng-model="username.text">

                            </div>
                        </div>


                        <span class="input-label"><i class="icon ion-android-lock"></i>Password</span>
                        <input type="password" name="password" ng-model="password.text">

                        <a class="button icon ion-chevron-Right" ng-click="accountStatus()">Login</a>
                        <span class="pull-right"><input type="submit" class="btn btn-success" value="Log in" /></span>

                        <span class="input-label"><i class="icon ion-android-lock"></i>{{success}}</span>
                    </form>
                </center>

            </ion-content>
        </ion-view>
    </script>

    <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title={{headingCaption}}>
            <ion-content class="padding">
                <center>
                    <ion-label>
                        Welcome {{contact.FirstName}} {{contact.LastName}}

                    </ion-label>
                    {{login}}
                    <ion-list>
                        <ion-item ng-repeat="gr in group">{{gr.CompanyName}}</ion-item>
                    </ion-list>
                    <br /><br />
                    <p>
                        <a class="button icon icon-right ion-chevron-right" href="#/tab/campaigns">Campaigns</a><br /><br />
                        <a class="button icon icon-right ion-chevron-right" href="#/tab/triages">Triages</a>
                    </p>
                </center>

            </ion-content>
        </ion-view>
    </script>

    <script id="templates/campaigns.html" type="text/ng-template">
        <ion-view view-title="Campaigns">
            <ion-content class="padding">
                <center>
                    <p>Campaign Messages</p>
                    <ion-list>
                        <ion-item class="wrap" ng-repeat="ca in campaigns">{{ca.CampaignMessage}}</ion-item>
                    </ion-list>
                    <br /><br />
                    <p>
                        <a class="button icon ion-home" href="#/tab/home"> Home</a>
                        <a class="button icon icon-right ion-chevron-right" href="#/tab/procedures">Procedures</a>
                    </p>
                </center>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/procedures.html" type="text/ng-template">
        <ion-view view-title="Procedures">
            <ion-content class="padding">
                <p>procedure Information goes here</p>
                <p>
                    <a class="button icon ion-home" href="#/tab/home"> Home</a>
                    <a class="button icon ion-chevron-left" href="#/tab/campaigns">Campaigns</a>
                </p>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/triages.html" type="text/ng-template">
        <ion-view view-title="Triages">
            <ion-content class="padding">
                <center>
                    <p>Triage Messages</p>
                    <ion-list>
                        <ion-item class="wrap" ng-repeat="tr in triages">{{tr.TriageMessage}}</ion-item>
                    </ion-list>

                    <select ng-model="triageResponse">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    <br />

                    <a class="button icon ion-chevron-Right" ng-click="processTriage(triageResponse)">Respond</a>
                    <br /><br />

                    <p>
                        <a class="button icon ion-home" href="#/tab/home"> Home</a>
                        <a class="button icon ion-chevron-Right" href="#/tab/followups">Follow Ups</a>
                    </p>
                </center>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/triageResponse.html" type="text/ng-template">
        <ion-view view-title="Triage Response">
            <ion-content class="padding">
                <p>Triage Response Information goes here</p>
                <p>
                    <a class="button icon ion-home" href="#/tab/home"> Home</a>
                    <a class="button icon ion-chevron-Right" href="#/tab/followups">Follow Ups</a>
                </p>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/followups.html" type="text/ng-template">
        <ion-view view-title="Follow Ups">
            <ion-content class="padding">
                <p>Follow Up Information goes here</p>
                <p>
                    <a class="button icon ion-home" href="#/tab/home"> Home</a>
                    <a class="button icon ion-chevron-left" href="#/tab/Triages">Triages</a>
                </p>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/about.html" type="text/ng-template">
        <ion-view view-title="About">
            <ion-content class="padding">
                <h3>Create hybrid mobile apps with the web technologies you love.</h3>
                <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
                <p>Built with Sass and optimized for AngularJS.</p>
                <p>
                    <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
                </p>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/nav-stack.html" type="text/ng-template">
        <ion-view view-title="Tab Nav Stack">
            <ion-content class="padding">
                <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/contact.html" type="text/ng-template">
        <ion-view title="Contact">
            <ion-content>
                <div class="list">
                    <div class="item">
                        KeithBigDev@Patientharmony.com<br />
                        Remo@Patientharmony.com
                    </div>
                    <div class="item">
                        Sales@PatientHarmony.com
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </script>

</body>
</html>