﻿@using System.Globalization
@using PatientHarmony.Data.Entities;
@using Telerik.Web.Mvc.UI;

@model PatientHarmony.Data.Models.HomeIndexModel

@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
		<title>Patient Harmony :: Personalized Patient Harmony</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../Content/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../Content/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="../../Content/css/fullcalendar.css" />
        <link rel="stylesheet" href="../../Content/css/datepicker.css" />
        <link rel="stylesheet" href="../../Content/css/uniform.css" />
        <link rel="stylesheet" href="../../Content/css/select2.css" />
        <link rel="stylesheet" href="../../Content/css/maruti-media.css" class="skin-color" />
        <link rel="stylesheet" href="../../Content/css/maruti-style.css" />
         <script src="../../Scripts/excanvas.min.js"></script> 
        <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script> 
        <script type="text/javascript" src="../../Scripts/jquery.flot.min.js"></script> 
        <script type="text/javascript" src="../../Scripts/jquery.flot.resize.min.js"></script> 
        <script type="text/javascript" src="../../Scripts/jquery.flot.pie.min.js"></script> 
        <script type="text/javascript" src="../../Scripts/maruti.js"></script> 
        <script type="text/javascript" src="../../Scripts/maruti.dashboard.js"></script> 
        <script type="text/javascript" src="../../Scripts/maruti.chat.js"></script> 
        <script type="text/javascript" src="../../Scripts/exporting.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="../../Scripts/Highcharts-3.0.1/js/highcharts.js"></script>
</head>
<body>



<div class="row-fluid">
      <div class="widget-box">
      <h5>Site Analytics</h5>
    <div  style="width: 100%">@(ViewBag.ColumnChart)</div>
    <div  style="width: 100%">
        <center>
            <table>

                <tr>
                    <td>@(ViewBag.PieChart)</td>
                    <td> @(ViewBag.PieReplyRateChart)</td>
                </tr>

            </table>
        </center> </div>    
        <div class="widget-title"><span class="icon"><i class="icon-tasks"></i></span>
          
        
       </div>
        </div>
        <div class="widget-content">
        <div class="chart"></div>   
   
          <div class="row-fluid">
            <div class="span8">
              <div class="chart"></div>   
            </div>
         
          </div>
           </div>
        </div>

    </body>
    </html>

    