﻿@{
    ViewBag.Title = "_Footer";
}

<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Patient Harmony. Brought to you by <a href="http://www.iriesolutionsglobal.com">Irie Solutions Global</a> </div>
</div>
