﻿@using Telerik.Web.Mvc.UI;
@using PatientHarmony.Data.Models;

@model PatientHarmony.Web.Models.ReportsIndexModel

<link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
      type="text/css" />
<link href="../../Content/css/multi-select.css" rel="stylesheet" type="text/css" />

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../../Scripts/anytime.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.multi-select.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.quicksearch.js" type="text/javascript"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Groups</h5>
                </div>
                <div class="widget-content nopadding">
                    <div id="Groups">

                        @(Html.Telerik().Grid(Model.GroupObjects).TableHtmlAttributes(new { @class = "table table-bordered data-table" })
                .Name("GroupsTable")
                .DataKeys(keys => keys.Add(g => g.GroupId))

            .Columns(columns =>
            {
                columns.Bound(p => p.GroupId).Hidden(true).HtmlAttributes(new { style = "font-size: 10px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" });
                columns.Bound(p => p.CompanyName).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
                columns.Bound(p => p.Email).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
                columns.Bound(p => p.PhoneNumber).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
                columns.Bound(p => p.CreatedDate).ReadOnly().HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).ReadOnly();
                columns.Bound(p => p.LastModifiedDate).ReadOnly().HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).ReadOnly();
                columns.Command(commands =>
                {
                    commands.Custom("Report")
                        .Action("GroupReport", "Report")
                        .Text("Generate Group Report")
                        .DataRouteValues(route => route
                                                    .Add(p => p.GroupId));

               }).Width(180).Title("Commands");

            })


            .Pageable()
            .Sortable()
            .Selectable()
            .Scrollable(s => s.Enabled(true).Height("auto")))
          
            
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Campaigns</h5>
                </div>
                <div class="widget-content nopadding">
                    <div id="Campaigns">

                        @(Html.Telerik().Grid(Model.Campaigns)
                                        .Name("Campaigns")

                                        .DataKeys(key => key.Add(g => g.CampaignId))
                                        .Columns(columns =>
                                    {
                                        columns.Bound(p => p.CampaignId).Hidden();
                                        columns.Bound(p => p.Group.CompanyName);
                                        columns.Bound(p => p.CampaignTitle);
                                        columns.Bound(p => p.CreatedDate);
                                        columns.Bound(p => p.LastModifiedDate);
                                        columns.Command(commands =>
                                        {
                                            commands.Custom("GetReports")
                                               .Action("CampaignReport", "Report")
                                               .Text("Generate Campaign Report")
                                               .DataRouteValues(route => 
                        {
                           // Send the OrderID property of the data item as "orderID" parameter
                           route.Add(o => o.CampaignId).RouteKey("campID");
                        });

                                        }).Width(180).Title("Commands");

                                    })

                                        .Pageable()
                                        .Selectable()
                                        .Sortable()
                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                        .Groupable()
                                        .Filterable()
                                        .Resizable(p => p.Columns(true)))


                    </div> 

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Triages</h5>
                </div>
                <div class="widget-content nopadding">

                    <div id="Triages">

                        @(Html.Telerik().Grid(Model.Triages)
                                        .Name("Triage")

                                        .DataKeys(key => key.Add(g => g.TriageId))
                                        .Columns(columns =>
                                    {
                                        columns.Bound(p => p.TriageId).Hidden();
                                        columns.Bound(p => p.Title);
                                        columns.Bound(p => p.TriageMessage);
                                        columns.Bound(p => p.GoodResponseMessage);
                                        columns.Bound(p => p.BadResponseMessage);
                                        columns.Bound(p => p.StartDate);
                                        columns.Bound(p => p.EndDate);
                                        columns.Bound(p => p.SendDateTime);
                                        columns.Bound(p => p.CreatedDate);
                                        columns.Command(commands =>
                                        {
                                            commands.Custom("GenerateTriageReport")
                                                .Action("TriageReport", "Report")
                                                .DataRouteValues(route => route
                                                    .Add(p => p.TriageId))
                                                .Text("Create Triage Report ");


                                        }).Width(180).Title("Commands");

                                    })

                                        .Pageable()
                                        .Selectable()
                                        .Sortable()
                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                        .Groupable()
                                        .Filterable()
                                        .Resizable(p => p.Columns(true)))

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Patients</h5>
                </div>
                <div class="widget-content nopadding">

                    <div id="Patients">

                        @(Html.Telerik().Grid(Model.Patients)
                        .Name("patients")
                        .DataKeys(keys => keys.Add(g => g.ContactId))
            .Columns(columns =>
            {
                columns.Bound(p => p.ContactId).Width(35).Hidden();
                columns.Bound(p => p.FirstName).Width(45);
                columns.Bound(p => p.LastName).Width(45);
                columns.Bound(p => p.EmailAddress).Width(45);
                columns.Bound(p => p.PhoneNumber).Width(45);
                columns.Bound(p => p.InsurerEmailAddress).Width(45);
                columns.Bound(p => p.CreatedDate).Width(45).ReadOnly();
                columns.Bound(p => p.LastModifiedDate).Width(45).ReadOnly();
                columns.Command(commands =>
                {
                    commands.Custom("GeneratePatientReport")
                    .Action("PatientReport", "Report")
                    .DataRouteValues(route => route
                                                    .Add(p => p.ContactId))
                    .Text("Generate Patient Report");

                }).Width(40).Title("Commands");

            })


            .Pageable()
            .Sortable()
            .Selectable()
            .Scrollable(s => s.Enabled(true).Height("auto"))
            .Filterable()
            .Resizable(resizing => resizing.Columns(true)))

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>










