﻿.login-form h4
{
    font-family: Russo One;
    font-size: 24px;
    color: #4c5b98;
}

.login-form table
{
    font-size: 12px;
}
.login-form table .text
{
    color: #333;
    width: 100px;
}
.login-form table .input
{
    width: 200px;
}
.login-form table .input input
{
    border: 1px solid #ccc;
    padding: 5px 8px;
    outline: none;
    font-size: 14px;
    width: 200px;
}

.login-form table .input textarea
{
    border: 1px solid #ccc;
    padding: 5px 8px;
    outline: none;
    height: 70px;
    font-size: 14px;
    width: 200px;
}
.login-form table .submit input
{
    padding: 9px 0;
    width: 218px;
    cursor: pointer;
    border: none;
    background: #4c5b98;
    color: #fff;
    opacity: 0.8;
    font-size: 22px;
    font-family: Russo One;
    text-transform: lowercase;
}

.login-form table .input input:focus, .login-form table .input textarea:focus
{
    outline-color: #7e91e4;
    outline-style: auto;
    outline-width: 15px;
    outline-offset: 0.5;
}

.login-form table .submit input:hover
{
    opacity: 1;
}

.login-form table .error
{
    color: red;
    margin: 0 0 0 10px;
    font-size: 11px;
}
.login-form table .check
{
    height: 20px;
    font-size: 11px;
    color: gray;
}
.login-form table .check input
{
    margin: 0 7px 0 0;
    float: left;
}

.error
{
    color: red;
}