﻿.calendar .active {
    background: #6483c8 !important;
}

.calendar .noevents {
    background: #9aacd5 !important;
}

.calendar .item {
    background: #d1d1d1;
}

.dayofweektextcolor {
    color: #fff !important;
}

.numbertextcolor {
    color: #fff !important;
}

.calendar .item .events {
    color: #fff !important;
}

.title {
    color: #4c5b98 !important;
}

.title div span { color: #aaaaaa !important}