﻿.header {
    height: 100px;
    position: relative;
}

.header h3 {
    font-family: Russo One;
    color: #4c5b98;
    font-size: 24px;
    margin: 0;
    position: absolute;
    left: 0;
    top:     35px;
}
.header h3 a {
    color: #6270ac;
    font-family: Arial;
    font-size: 16px;
}

.header span {
    color: #333;
    font-size: 12px;
    background: #eee;
    display: block;
    position: absolute;
    right: 0px;
    top: 30px;
    padding: 10px 25px;
}

/* @left navigation block */

.left 
{
    float: left;
    width: 180px;
 }
 
 .nav {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 
 .nav li {
      margin: 2px 0;
      background: #4c5b98;
     padding: 10px 0;
 }
 
 .nav li:hover {
      background: #6270ac;
 }
 
 .nav li a {
     display: block;
     color: #fff;
     font-family: Russo One;
     margin: 0 0 0 10px;
     text-decoration: none;
}

/* @right content block */

.right {
    margin: 0 0 0 200px;
}
.right h3 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-family: Russo One;
}

/* @forms extention */
.login-form table .long input{
    width: 600px !important;
}

.login-form table .long textarea {
    width: 600px !important;
    font-family: Arial;
}


.login-form table .date {
    width: 26px;
}
.login-form table .date span {
    background: url("/Public/themes/kstyle/images/calendar_2.png") no-repeat center center #6270ac !important;
    opacity: 1;
    width: 26px !important;
    height: 26px;
    display: block;
}

/* events list */
.list 
{
    font-size: 12px;
    width: 100%;
}

.list th {
    height: 40px;
    background: #6270ac;
    color: #fff;
}
.list tr:hover {
    background: #eee;
}
.list .edate {
    font-size: 11px;
    text-align: center;
    background: #ddd;
    color: #333;
    width: 70px;
}

.list .actions {
    text-align: center;
    width: 100px;
}

.list .desc {
    color: #333;
    font-size: 11px;
}
.list .desc strong {
    color: #000;
}

.center {
    text-align: center;
}
/* pagination */
.pagination ul {
    margin: 15px 0;
    list-style-type: none;
    padding: 0;
}

.pagination ul li {
    float: left;
}
.pagination ul li a {
    width: 27px;
    display: block;
    padding: 4px 0;
    color: #fff;
    opacity: 0.8;
    background: #6270ac;
    text-align: center;
    margin: 0 3px 0 0;
    text-decoration: none;
}
.pagination ul li a:hover {
    opacity: 1;
}
.pagination ul li.active a {
    background: #ccc;
    color: gray;
}

/* popup */
.delwindow {
    display: none;
    background: #6270ac;
    opacity: 0.95;
    width: 100%;
    position: absolute;
    left: 0;
    top: 35%;
}

.delwindow .inner {
    margin: 25px auto;
    color: #fff;
    width: 500px;
    height: 200px;
}

.delwindow .inner h3 {
    margin: 0 0 15px 0;
    font-family: Russo One;
    font-size: 22px;
}

.delwindow .btns {
    margin: 25px 0 0 0;
}

.delwindow .btns a {
    color: #6270ac;
    background: #fff;
    width: 100px;
    display: block;
    float: left;
    padding: 10px 0;
    font-family: Russo One;
    text-decoration: none;
    text-align: center;
    margin: 0 5px;
    opacity: 0.8;
}
.delwindow .btns a:hover {
    opacity: 1;
    color: #4c5b98
}

/* date time picker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }