﻿@model PatientHarmony.Web.Models.ReportsIndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>@Model.Patients[0].FirstName @Model.Patients[0].LastName</h2>
    <center>
        <table>
           
            @foreach (var group in Model.Groups)
            {

                <tr>
                    <td>Group Name: @group.CompanyName</td>

                </tr>

            }

            <tr><td><br /></td></tr>
        </table>

        <table width="100%">
            @foreach (var triage in Model.Triages)
            {
                <tr>
                    <td>Group:  @triage.Group.CompanyName<br /><br /></td>
                </tr>

                <tr>
                    <td>Triage Title:  @triage.Title<br /><br /></td>
                </tr>
                <tr>
                    <td>Triage Message:  @triage.TriageMessage<br /><br /></td>
                </tr>
                <tr>
                    <td>Favorable Repsonse Message:  @triage.GoodResponseMessage<br /><br /></td>
                </tr>
                <tr>
                    <td>Unfavorable Repsonse Message:  @triage.BadResponseMessage<br /><br /></td>
                </tr>
                <tr>
                    <td>Send Time:  @triage.SendDateTime.ToShortTimeString()<br /><br /></td>
                </tr>
                <tr>
                    <td>Triage Start Date:  @triage.StartDate.ToShortDateString()<br /><br /></td>
                </tr>
                <tr>
                    <td>Triage End Date:  @triage.EndDate.ToShortDateString()<br /><br /></td>
                </tr>
                <tr>
                    
                    <td>Triage Responses:  @triage.HealthTracker<br /><br /></td>
                </tr>
            }
        </table>

        <table>
          
             @foreach (var sms in Model.SmsIncomings)
            {

                <tr>
                    <td>Receive Time: @sms.CreatedDate Message: @sms.Message</td>

                </tr>

            }
            <tr><td><br /></td></tr>

        </table>

        <table>

            @foreach (var sms in Model.SmsOutgoings)
            {

                <tr>
                    <td>Receive Time: @sms.CreatedDate Message: @sms.Message</td>

                </tr>

            }
            <tr><td><br /></td></tr>
        </table>

    </center>
</body>
</html>
