﻿body {
}

.item.wrap, .item-content.wrap {
white-space: normal;
}

.input-label {
  margin: 0 auto;
  text-align: center;
}

.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5bb75b;
}

.accountInput{
  height: 30px;
  display: inline-block;
  width: 75%;
  border: 1px solid #dadada;
  margin-bottom: 3px;
  background-color: rgb(250, 255, 189);
  background-image: none;
  color: rgb(0, 0, 0);
}

