﻿@using System.Globalization
@using PatientHarmony.Data.Entities;
@using Telerik.Web.Mvc.UI;


@model PatientHarmony.Data.Models.CalendarModel

@*@model PatientHarmony.Web.Models.TriageIndexModelcs*@
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient Harmony :: Personalized Patient Harmony</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../Content/DayPilot/themes.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/daypilot-calendar.src.js" type="text/javascript"></script>
    <script src="../../Scripts/daypilot-common.src.js" type="text/javascript"></script>
    <script src="../../Scripts/daypilot-modal.src.js" type="text/javascript"></script>
    <script src="../../Scripts/daypilot-month.src.js" type="text/javascript"></script>


</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>
                        Triage Calendar</h5>
                </div>
              
                <div class="widget-content nopadding">
                    
                    <div class="title">
                        <a href="/Triage/Index/@Model.PrevYear?month=@Model.PrevMonth" class="prev">
                            <img src="/Public/themes/kstyle/images/prev.png" alt="" /></a> <a href="/Triage/Index/@Model.NextYear?month=@Model.NextMonth" class="next">
                                <img src="/Public/themes/kstyle/images/next.png" alt="" /></a>
                        <div>
                            <a href="#" id="month">@Model.Month</a>, <a href="#" id="year">@Model.Year</a>
                        </div>
                        <div id="years" class="upwin">
                            @foreach (var y in Model.Years)
        {
                                <a href="/Triage/Index/@y?month=@Model.MonthNum">@y</a>
        }
                            <a href="#" style="font-size: 16px" id="years_close">close [x]</a>
                        </div>
                        <div id="monthes" class="upwin">
                            @foreach (var m in Model.Months)
        {
            var date = new DateTime(Model.Year, m, 1);
                                <a href="/Triage/Index/@Model.Year?month=@m">@date.ToString("MMMM")</a>
        }
                            <a href="#" style="font-size: 16px" id="monthes_close">close [x]</a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <script type="text/javascript">
                        function updateCurrentTime() {
                            document.getElementById("currentTime").value = Date().toString();
                            document.getElementById("currentTime").size = Date().toString().length + 5;
                        }

                        function complete(id) {
                            $("#eventid").css('height', $(".calendar").height() - 5).fadeIn('slow');
                        }
                    </script>
                    <div class="calendar">
                        @foreach (var day in Model.Days)
    {
                            @Html.Partial("_Day", day)
    }
                        <div id="eventid">
                        </div>
                        <div class="clear">
                            &nbsp;</div>
                    </div>
                    <br />
                    <br />
                    <div>
                        <input id="currentTime" type="text" readonly size="15" />
                        <input id="refreshTime" type="button" value="Refresh Time" onclick="updateCurrentTime()" />
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>   

   
   

</body>


</html>



