﻿@using System.Globalization
@using PatientHarmony.Data.Entities;
@using Telerik.Web.Mvc.UI;
@model PatientHarmony.Web.Models.SMSIndexModel
@{
    ViewBag.Title = "Index";
}

<link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
    type="text/css" />
<link href="../../Content/css/multi-select.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../../Scripts/anytime.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.multi-select.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.quicksearch.js" type="text/javascript"></script>

    <div class="container-fluid">
       <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>
                            Incoming SMS List</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div id="IncomingSMS">
                            @(Html.Telerik().Grid(@Model.Incoming).TableHtmlAttributes(new { @class = "table table-bordered data-table" })
        .Name("Incomingtable")
        .DataKeys(keys => keys.Add(g => g.SmsId))
        .DataBinding(databinding => databinding.Ajax()
                        .OperationMode(GridOperationMode.Client))
        .Columns(columns =>
    {
        columns.Bound(p => p.SmsId).Hidden(true).HtmlAttributes(new { style = "font-size: 10px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" });
        columns.Bound(p => p.ToPhoneNumber).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.FromPhoneNumber).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.Message).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.processed).ReadOnly().HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).ReadOnly();
              
    })


    .Pageable()
    .Sortable()
    .Groupable()
    .Filterable()
    .Selectable()
    .Scrollable(s => s.Enabled(true).Height("auto"))


            )
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>
                            Outgoing SMS List</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div id="OutGoingSMS">
                            @(Html.Telerik().Grid(@Model.Outgoing).TableHtmlAttributes(new { @class = "table table-bordered data-table" })
        .Name("OutgoingTable")
        .DataKeys(keys => keys.Add(g => g.SmsId))
                .DataBinding(databinding => databinding.Ajax()
                                .OperationMode(GridOperationMode.Client))
      .Columns(columns =>
        {
            columns.Bound(p => p.SmsId).Hidden(true).HtmlAttributes(new { style = "font-size: 10px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" });
            columns.Bound(p => p.ToPhoneNumber).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
            columns.Bound(p => p.FromPhoneNumber).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
            columns.Bound(p => p.Message).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
                          
        })


        .Pageable()
        .Sortable()
        .Groupable()
        .Filterable()
        .Selectable()
        .Scrollable(s => s.Enabled(true).Height("auto"))
        )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>
                            Email List</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div id="EmailList">
                            @(Html.Telerik().Grid(@Model.Emails).TableHtmlAttributes(new { @class = "table table-bordered data-table" })
        .Name("EmailTable")
        .DataKeys(keys => keys.Add(g => g.EmailId))
        .ToolBar(commands => commands.Insert().Text("Email Patient Harmony Administrator"))
       

    .Columns(columns =>
    {
        columns.Bound(p => p.EmailId).Hidden(true).HtmlAttributes(new { style = "font-size: 10px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" });
        columns.Bound(p => p.CreatedDate).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).Title("Send Date");
        columns.Bound(p => p.ToEmail).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.FromEmail).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.Subject).HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis; width:auto;" });
        columns.Bound(p => p.Message).ReadOnly().HtmlAttributes(new { style = "font-size: 14px; text-align: center; overflow: hidden; white-space: word-wrap; text-overflow: ellipsis;" }).ReadOnly();
        
              
    })


    .Pageable()
    .Sortable()
    .Selectable()
    .Scrollable(s => s.Enabled(true).Height("auto"))
    .Editable(editing => editing.Mode(GridEditMode.PopUp).TemplateName("SMSIndexModel"))
    .DataBinding(dataBinding => dataBinding.Ajax()
    .OperationMode(GridOperationMode.Client)
    .Insert("EmailAdministrator", "SMS", new { Model }))
            )
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

