﻿<!DOCTYPE html>
<html ng-app="account">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Tabs Example</title>
    <link href="css/ionic.css" rel="stylesheet" />
    <script src="scripts/ionic.bundle.js"></script>
    <!--<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">-->
    <!-- <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>-->
    <!--<script src="scripts/auth0-angular.js"></script>
    <script src="scripts/angularJwt.js"></script>
    <script src="scripts/angularStorage.js"></script>-->

   <!-- <script src="scripts/angular.min.js"></script>-->
    <script src="app.js"></script>
    <link href="css/index.css" rel="stylesheet" />


</head>


<body>
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <!--<script src="scripts/angular-linq.js"></script>-->
    <script src="scripts/linq.min.js"></script>

    <div>Content goes here.</div>

    <script id="templates/account.html" type="text/ng-template">
        <ion-view view-title="Patient harmony : personalized patient harmony">
            <ion-content class="padding">
                <center>
                    <div class="control-group normal_text">

                        <img src="res/img/logo.png" />
                    </div>
                    <form name="$parent.loginForm">
                        <div class="control-group">
                            <div class="controls">
                                <span class="input-label"><i class="icon ion-android-contact"></i>Username</span>
                                <input class="accountInput" type="text" name="username" ng-model="username.text">

                            </div>
                        </div>


                        <span class="input-label"><i class="icon ion-android-lock"></i>Password</span>
                        <input type="password" name="password" ng-model="password.text">

                        <a class="button icon ion-chevron-Right" ng-click="accountStatus()">Login</a>
                        <span class="pull-right"><input type="submit" class="btn btn-success" value="Log in" /></span>

                        <span class="input-label"><i class="icon ion-android-lock"></i>{{success}}</span>
                    </form>
                </center>

            </ion-content>
        </ion-view>
    </script>
</body>
</html>