﻿@using Telerik.Web.Mvc.UI;
@using PatientHarmony.Data.Models;
@using PatientHarmony.Data.Entities;

@model PatientHarmony.Web.Models.CampaignManageModel

<link href="~/Content/css/prettify.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-duallistbox.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../../Scripts/anytime.js" type="text/javascript"></script>
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>




<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Select Patients to Add/Remove</h5>
                </div>
                <!--id=widget title-->
                <div class="widget-content nopadding">
                    <div id="myGrid">

                        @*@using (Html.BeginForm("GroupPatientControl", "Group", FormMethod.Post, new { onsubmit = "return (checkForm(this) && false);" }))*@
                        @using (Html.BeginForm("CampaignPatientControl", "Campaign", FormMethod.Post, new { onsubmit = "return (checkForm(this));" }))
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>
                            
                                <center>
                                    <select id="allContacts" class="multiselect" multiple="multiple" name="patient[]">
                                        @for (int i = 0; i < Model.AllContacts.Count(); i++)
                                        {
                                            if (Model.Patients.Where(p => p.ContactId == Model.AllContacts[i].ContactId).Count() > 0)
                                            {
                                                <option value="@Model.AllContacts[i].ContactId" selected>
                                                    @Model.AllContacts[i].FirstName @Model.AllContacts[i].LastName
                                                    - @Model.AllContacts[i].PhoneNumber - @Model.AllContacts[i].EmailAddress @Model.AllContacts[i].InsurerEmailAddress
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@Model.AllContacts[i].ContactId">
                                                    @Model.AllContacts[i].FirstName @Model.AllContacts[i].LastName
                                                    - @Model.AllContacts[i].PhoneNumber - @Model.AllContacts[i].EmailAddress @Model.AllContacts[i].InsurerEmailAddress
                                                </option>
                                            }
                                        }
                                    </select>
                                    <script>
                                        var demo2 = $('.multiselect').bootstrapDualListbox({
                                            nonselectedlistlabel: 'Selectable Patients',
                                            selectedlistlabel: 'Selected Patients',
                                            preserveselectiononmove: 'moved',
                                            moveonselect: false,
                                            initialfilterfrom: ''
                                        });
                                    </script>
                                    <script src="~/Scripts/jquery.placeholder.js"></script>


                                    <script>
                                        $('input').placeholder();
                                        prettyPrint();
                                    </script>

                                </center>

                                
                                <center>
                                    <p class="partialSubmit">
                                        <input type="submit" name="submitPatientChanges" value="Save Patients" />
                                        <input type="button" value="Cancel" onclick="location.href='@Url.Action("Manage", "Campaign", new { Id = Model.Campaign.CampaignId})'" />
                                    </p>
                                </center>
                            </fieldset>

                        } <!--Close @Html using form -->

                    </div>

                </div> <!--Widget Contnent No padding -->


            </div> <!--widget box -->

        </div>  <!--span12-->

    </div>  <!--row fluid-->

</div><!--container fluid-->

<link rel="stylesheet" href="../../Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../Content/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../../Content/css/datepicker.css" />
<link rel="stylesheet" href="../../Content/css/select2.css" />
<link rel="stylesheet" href="../../Content/css/maruti-media.css" class="skin-color" />
<link rel="stylesheet" href="../../Content/css/maruti-style.css" />
<link href="../../Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/anytime.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript">

    function checkForm(form) {

        var patients = document.getElementById('allContacts');
        var selected = false;
        for (i = 1; i < patients.options.length; i++) {
            var presult = patients.options[i].selected;
            if (presult == true) {
                selected = true;

            }
        }

        if (selected == false) {
            alert("Error: Select atleast one Patient to add to Campaign!");
            patients.focus();
            return false;
        }

        return true;

    }

</script>

