﻿@using System.Globalization
@using PatientHarmony.Data.Entities;
@using Telerik.Web.Mvc.UI;


@model PatientHarmony.Web.Models.ContactIndexModel

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient Harmony :: Personalized Patient Harmony</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../../Content/css/fullcalendar.css" />
    <link rel="stylesheet" href="../../Content/css/datepicker.css" />
    <link rel="stylesheet" href="../../Content/css/select2.css" />
    <link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" href="../../Content/css/maruti-media.css" class="skin-color" />
    <link rel="stylesheet" href="../../Content/css/maruti-style.css" />
</head>

<body>



    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Patients</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div id="myGrid">
                            @(Html.Telerik().Grid(Model.Patients)
                        .Name("patients")
                        .ToolBar(commands => commands.Insert())
            .DataKeys(keys => keys.Add(g => g.ContactId))
            .Columns(columns =>
            {
                columns.Bound(p => p.ContactId).Width(35).Hidden();
                columns.Bound(p => p.FirstName).Width(45);
                columns.Bound(p => p.LastName).Width(45);
                columns.Bound(p => p.EmailAddress).Width(45);
                columns.Bound(p => p.PhoneNumber).Width(45);
                columns.Bound(p => p.InsurerEmailAddress).Width(45);
                columns.Bound(p => p.CreatedDate).Width(45).ReadOnly();
                columns.Bound(p => p.LastModifiedDate).Width(45).ReadOnly();
                columns.Command(commands =>
                {
                    commands.Custom("Manage")
                    .Action("Manage", "Contact")
                    .Text("Manage");


                    commands.Edit();

                    commands.Delete();
                }).Width(40).Title("Commands");

            })


            .Pageable()
            .Sortable()
            .Selectable()
            .Scrollable(s => s.Enabled(true).Height("auto"))
            .Filterable()
            .Editable(editing => editing.DisplayDeleteConfirmation(false))
            .Editable(editing => editing.Mode(GridEditMode.PopUp).TemplateName("EditContactGroup"))
            .Resizable(resizing => resizing.Columns(true))
            .DataBinding(databinding => databinding.Ajax()
                    .OperationMode(GridOperationMode.Client)
                    .Select("_AjaxBindingContact", "Contact")
                            .Insert("_InsertAjaxContact", "Contact")
                            .Update("_SaveAjaxEditingContact", "Contact")
                            .Delete("_DeleteAjaxEditingContact", "Contact")))
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

  




    <script src="../../Scripts/excanvas.min.js"></script>
    <script src="../../Scripts/jquery-ui-1.8.20.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/jquery.flot.min.js"></script>
    <script src="../../Scripts/jquery.flot.resize.min.js"></script>
    <script src="../../Scripts/jquery.flot.pie.min.js"></script>
    <script src="../../Scripts/fullcalendar.min.js"></script>
    <script src="../../Scripts/maruti.js"></script>
    <script src="../../Scripts/maruti.dashboard.js"></script>
    <script src="../../Scripts/maruti.chat.js"></script>
    <script src="../../Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>



    

</body>
</html>
