﻿@*@using System.Web.UI.WebControls*@
@model PatientHarmony.Data.Models.DayProcedureModel


<link href="../../Content/2013.2.611/telerik.office2007.min.css" rel="stylesheet"
    type="text/css" />

<a href="/Procedure/Index" id="close">Back to Procedure Index</a>
<div class="inner">
    <div class="date">@Model.Date</div>
    <div class="evs">
    <div>
        <div id="myGrid">
            @(Html.Telerik().Grid(Model.ProcedureList)
                .Name("Procedures")
                       
                .DataKeys(key => key.Add(g => g.ProcedureId))
                    
                 .Columns(columns =>
            {
                columns.Bound(p => p.ProcedureId).Hidden();
                columns.Bound(p => p.ProcedureTitle);
                columns.Bound(p => p.ProcedureMessage);
                columns.Bound(p => p.StartDate);
                columns.Bound(p => p.EndDate);
                columns.Bound(p => p.SendDateTime);
                columns.Bound(p => p.CreatedDate).ReadOnly();
                columns.Command(commands =>
                {
                    commands.Edit();
                    commands.Delete();
                }).Width(100).Title("Commands");

            })
                        .Editable(editing => editing.Mode(GridEditMode.PopUp).TemplateName("EditProcedure"))

                .Pageable()
               .Sortable()
                .Scrollable()
                .Groupable()
                .Filterable()
            .Resizable(p => p.Columns(true))
                           
                    .DataBinding(databinding => databinding.Ajax()
                                           .OperationMode(GridOperationMode.Client)

                                                   .Update("_SaveAjaxEditingProcedure", "Procedure", new { date = Convert.ToDateTime(Model.Date) })
                                           .Delete("_DeleteAjaxEditingProcedure", "Procedure", new { date = Convert.ToDateTime(Model.Date) })

                                )

                            )
        </div>
    
    </div>
     
    </div>
</div>
