﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   
    <div id="header">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Insurance Agency", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Agents", "Index", "Home")</li>
                        <li>@Html.ActionLink("Policies", "Index", "Home")</li>
                        <li>@Html.ActionLink("Quotes", "Index", "Quote")</li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar">        
        @RenderSection("SideBar", required: false)
    </div>


    <div id="content">
        <div class="container body-content">
            @RenderBody()
           
            <hr />

        </div>
    </div>
    <div id="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - Insurance Agency LLC</p>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </footer>
    </div>
    
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/helpers")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>

