﻿@model PatientHarmony.Data.Entities.Campaign
@Html.ValidationSummary(true)
<fieldset>
    <legend>Tasks</legend>
    @Html.HiddenFor(c => c.CampaignId)
    <div>
        <p>
            @Html.LabelFor(w => w.CampaignTitle)<br />
            @Html.TextBoxFor(c => c.CampaignTitle, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.CampaignTitle)
        </p>
    </div>
    <div>
        <p>
            @Html.LabelFor(w => w.CampaignMessage)<br />
            @Html.TextAreaFor(c => c.CampaignMessage, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.CampaignMessage)
        </p>
    </div>
        <div>
            <p>
                @Html.LabelFor(w => w.SendDateTime)<br />
                @Html.TextBoxFor(c => c.SendDateTime, new { style = "width: 375px;" })
                @Html.ValidationMessageFor(c => c.SendDateTime)
            </p>
        </div>
    </fieldset>

