﻿@model PatientHarmony.Data.Entities.Contact
@Html.ValidationSummary(true)
<fieldset>
    <legend>Tasks</legend>
    @Html.HiddenFor(c => c.ContactId)
    <div>
        <p>
            @Html.LabelFor(w => w.FirstName)<br />
            @Html.TextBoxFor(c => c.FirstName, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.FirstName)
        </p>
    </div>
    <div>
        <p>
            @Html.LabelFor(w => w.LastName)<br />
            @Html.TextBoxFor(c => c.LastName, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.LastName)
        </p>
    </div>
    <div>
        <p>
            @Html.LabelFor(w => w.EmailAddress)<br />
            @Html.TextAreaFor(c => c.EmailAddress, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.EmailAddress)
        </p>
    </div>
    <div>
        <p>
            @Html.LabelFor(w => w.PhoneNumber)<br />
            @Html.TextBoxFor(c => c.PhoneNumber, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.PhoneNumber)
        </p>
    </div>
    <div>
        <p>
            @Html.LabelFor(w => w.InsurerEmailAddress)<br />
            @Html.TextBoxFor(c => c.InsurerEmailAddress, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.InsurerEmailAddress)
        </p>
    </div>
</fieldset>
