﻿@using Telerik.Web.Mvc.UI
@model PatientHarmony.Data.Entities.Group
@Html.ValidationSummary(true)
<fieldset>
    <legend>Edit Triage </legend>
    <table id="Edit Triage" width="600">
        <tr>
            <td>
                @Html.LabelFor(w => w.CompanyName)
                @Html.TextBoxFor(c => c.CompanyName)
                @Html.ValidationMessageFor(c => c.CompanyName)
            </td>
            <td>
                @Html.LabelFor(w => w.Email)
                @Html.TextBoxFor(c => c.Email)
                @Html.ValidationMessageFor(c => c.Email)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(c => c.GroupId)
</fieldset>
