﻿@using Telerik.Web.Mvc.UI 

@model PatientHarmony.Data.Entities.Procedure

@Html.ValidationSummary(true)
<fieldset>
    <legend>Edit Triage </legend>

    <table id="Edit Triage" width="600"> 
        <tr>
            <td>
                @Html.LabelFor(w => w.ProcedureTitle)
                @Html.TextBoxFor(c => c.ProcedureTitle)
                @Html.ValidationMessageFor(c => c.ProcedureTitle) 
            </td>
            <td>
                @Html.LabelFor(w => w.ProcedureMessage)
                @Html.TextAreaFor(c => c.ProcedureMessage, new { style = "width: 200px; height:35px" })
                @Html.ValidationMessageFor(c => c.ProcedureMessage)
            </td>
            
        </tr>
        <tr> </tr>
        <tr> </tr>
        <tr>
            <td>
                 @Html.LabelFor(w => w.StartDate)<br />
                 @(Html.Telerik().DatePickerFor(c => c.StartDate))
                 @Html.ValidationMessageFor(c => c.StartDate)
            </td>
            
            <td>
                @Html.LabelFor(w => w.EndDate)<br />
                @(Html.Telerik().DatePickerFor(c => c.EndDate))
                @Html.ValidationMessageFor(c => c.EndDate)
            </td>

            <td> 
                @Html.LabelFor(w => w.SendDateTime)<br />
                @(Html.Telerik().TimePickerFor(c => c.SendDateTime))
               
            </td>
        </tr>
    </table>
    @Html.HiddenFor(c => c.ProcedureId)
    
</fieldset>
