﻿@using Telerik.Web.Mvc.UI 
@model PatientHarmony.Data.Models.TriageObject

@Html.ValidationSummary(true)
<fieldset>
    <legend>Edit Triage </legend>

    <table id="Edit Triage" width="600"> 
        <tr>
            <td>
                @Html.LabelFor(w => w.Title)
                @Html.TextBoxFor(c => c.Title)
                @Html.ValidationMessageFor(c => c.Title) 
            </td>
            <td>
                @Html.LabelFor(w => w.TriageMessage)
                @Html.TextAreaFor(c => c.TriageMessage, new { style = "width: 200px; height:35px" })
                @Html.ValidationMessageFor(c => c.TriageMessage)
            </td>
            <td>
                @Html.LabelFor(w => w.GoodResponseMessage)
                @Html.TextAreaFor(c => c.GoodResponseMessage, new { style = "width: 200px; height: 35px" })
                @Html.ValidationMessageFor(c => c.GoodResponseMessage)
            </td>
            <td>
                @Html.LabelFor(w => w.BadResponseMessage)
                @Html.TextAreaFor(c => c.BadResponseMessage, new { style = "width: 200px; height: 35px" })
                @Html.ValidationMessageFor(c => c.BadResponseMessage)
            </td>
        </tr>
        <tr> </tr>
        <tr> </tr>
        <tr>
            <td>
                 @Html.LabelFor(w => w.StartDate)<br />
                 @(Html.Telerik().DatePickerFor(c => c.StartDate))
                 @Html.ValidationMessageFor(c => c.StartDate)
            </td>
            
            <td>
                @Html.LabelFor(w => w.EndDate)<br />
                @(Html.Telerik().DatePickerFor(c => c.EndDate))
                @Html.ValidationMessageFor(c => c.EndDate)
            </td>

            <td> 
                @Html.LabelFor(w => w.SendDateTime)<br />
                @(Html.Telerik().TimePickerFor(c => c.SendDateTime))
                @Html.ValidationMessageFor(c => c.SendDateTime)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(c => c.TriageId)
    
</fieldset>
