﻿@model PatientHarmony.Data.Entities.Email

@Html.ValidationSummary(true)
<fieldset>
    <legend>Email Patient Harmony Administrator</legend>
    @Html.HiddenFor(c => c.EmailId)
    <div>
        <p>
            @Html.LabelFor(w => w.Subject)<br />
            @Html.TextBoxFor(c => c.Subject, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.Subject)
        </p>
    </div>
    <div>
        <p>
            @Html.LabelFor(w => w.Message)<br />
            @Html.TextAreaFor(c => c.Message, new { style = "width: 375px;" })
            @Html.ValidationMessageFor(c => c.Message)
        </p>
    </div>
   
</fieldset>
