﻿@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(~/Public/bootstrap/fonts/lobster.woff) format('woff');
}
body {margin: 0;padding: 0;font-family: Arial;font-size: 14px}
img {border: none}
a, a:link {color: #4c5b98}
a:hover {text-decoration: none}
.clear{clear: both;line-height: 1%;height: 1px;}
.page {margin: 0 auto;width: 1000px}

/* title*/
.title {
    font-family: 'Lobster';
    font-size: 42px;
    text-align: center;
    height: 35px;
    width: 970px;
    color: #4c5b98;
    position: relative;
    text-shadow: 1px 0px 0px #ccc;
    clear: both;
    margin: 15px auto 0 auto;
    padding: 0 0 15px 0
}

.title a {float: left;opacity: 0.5;margin-top: 6px;width: 35px;color: #4c5b98 !important}
.title a:hover {opacity: 1;}
.title div a {float: none;opacity: 1; color: #4c5b98 !important}
.title .next {float: right;}
.title div span { color: #aaaaaa !important}
.calendar {width: 974px;margin: 0 auto;position: relative;
}
.subsc { position: absolute;font-size: 12px;font-family: Arial;bottom: -27px;right: 70px;}


/* logon */

.logon {position: absolute;right: 7px;bottom: -27px !important;width: 15px !important;height: 15px;
        text-decoration: none;display: block;opacity: 0.6;     
    background: url(../../bootstrap/img/glyphicons-halflings.png) no-repeat -167px 0;}
.logon:hover {opacity:1}


.calendar .item {
    float: left;
    width: 135px;
    height: 110px;
    margin: 2px;
    position: relative;
    color: #fff;
    background: #d1d1d1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.calendar .active {opacity: 0.8; background: #6483c8;}
.calendar .active:hover {opacity: 0.9;}
.dayofweek {
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: Lobster;
    font-size: 17px;
    text-transform: uppercase;
}
.day {
    text-align: center;
    font-size: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 41px;
}
.events {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff !important;
    font-size: 16px;
}
.calendar #ajaxloader {
    position: absolute;
    right: 10px;
    bottom: 5px;
    display: none;
}
#eventid {
    display: none;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 969px;
    background: #3f61b0;
    opacity: 0.95;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#eventid #close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    text-decoration: none;
    background: url("/Public/themes/kstyle/images/back.png") right center no-repeat;
    font-size: 28px;
    text-transform: uppercase;
    padding: 5px 40px 3px 0;
    opacity: 0.95;
}
#eventid #close:hover { opacity: 1;}
#eventid .inner {margin: 25px;color: #fff}
#eventid .evs {margin: 15px 0 0 0;height: 450px;overflow-y: auto;overflow-x: hidden;}
#eventid .date {font-family: Lobster;font-size: 30px;text-shadow: 1px 1px 1px #204496;}
.evs table {border-collapse: collapse;width: 98%}
.evs table td {border-bottom: 1px solid #ccc;vertical-align: top;padding: 3px 0 5px 0}
.evs table td a {color: #fff}
.evdate1, .evdate2 {width: 68px;text-align: center;font-size: 12px}
.evdate1 .dds, .evdate2 .dds {background: #204496;padding: 7px 0}
.evdate2 .dds {background: #224ba9}
.evdate1 .hhs, .evdate2 .hhs {background: #fff;padding: 7px 0;color: #204496;font-weight: bold}
.evdate2 .hhs {background: #eee}
.evs .info {padding: 0 0 0 10px}
.evs h3 {margin: 0 0 0 0 ;text-shadow: 1px 1px 1px #000}
.evs .info p {font-size: 12px;color: #ccc;margin: 3px 0}
.evs .info .place {color: #ccc;font-size: 12px}
.evs .info .place span {font-weight: bold;color: #fff}
.evs .info .url {color: whitesmoke;font-size: 12px}
.evs .info .publisher {font-size: 11px;color: #bbb;}
.noevents {background: #9aacd5 !important;}
.dep {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    background: #4045ff;
    font-size: 16px;
    font-weight: bold;
    border: none 0 !important;
    border-bottom: 4px solid #ccc !important;
    padding: 0 !important;
}	

.dep div {
     padding: 8px 15px 5px 15px;
     
}

/* footer */
.footer {margin: 25px auto 10px auto;width: 974px;font-size: 12px}
.footer .dev { float: right; text-align: right}
.footer .copy {float: left;color: #444;}

#years, #monthes {display: none;}
.upwin {
    position: absolute;
    right: 0;
    
    top: 0px;
    font-size: 20px;
    width: 150px;
    font-family: Russo One;
    background: rgba(220,220,220,0.8);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
    z-index: 5000;
}

.upwin a  
{
    display: block;
    float: none;
    width: auto !important;
    text-align: center;
    padding: 6px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.upwin a:hover
{
    background: #eee;
}