﻿<ion-view view-title="Calendar Events" ng-model="AppData"> 
          <!--ng-init="triageCheck()">-->

    <ion-content>
        tester section
        <br />
        <br />


        <div>Triage Data Count {{triageData.length}} </div>
                
        <div>Groups Data Count {{groupData.length}} </div>

        <div>Contact Event Count {{contactData.length}} </div>

        <div>Calendar Event Count  {{calService.length}}</div>
               

        <br />
        <br />
                       

        <br />
        <br />

        <pre id="output"></pre>
        <iframe src="https://www.google.com/calendar/embed?src=patientharmony%40gmail.com&ctz=America/New_York" style="border: 0" width="325" height="500" frameborder="0" scrolling="yes"></iframe>
        <div>
            <simple-calendar events="events" options="calendarOptions"></simple-calendar>
        </div>

        <button id="authorize-button2" ng-click="insertGoogleEvent()">
            Insert Event
        </button>
        
       
    </ion-content>
       

</ion-view>
