﻿<ion-view view-title="Progress Events">

    <ion-content>
        <div id="authorize-div" style="display: block">
            <span>Authorize access to Calendar API</span>
            <!--Button for the user to click to initiate auth sequence -->
            <button id="authorize-button" onclick="handleAuthClick(event)">
                Authorize
            </button>
        </div>


        <div class="list">

 
            <pre id="output"></pre>

            <label class="item item-input item-select">
                <div class="input-label">
                    Triage Questions
                </div>
                <select ng-model="triages" ng-options="triage.triageMessage for triage in triages" ng-change="chooseTriage()>
                    <option value="">--Choose triage question</option>
                </select>
            </label>

        </div>



      
  <div>
      <simple-calendar events="events" options="calendarOptions"></simple-calendar>
  </div>
       
        Triage Graph
        <div class="card">
            <div class="item item-divider">
                A line chart
            </div>
            <div class="item item-text-wrap">
                <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: true}"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                A bar chart
            </div>
            <div class="item item-text-wrap">
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: true}"></canvas>
            </div>
        </div>


    </ion-content>

</ion-view>
