﻿<ion-view view-title="Triage Response" ng-model="triageData"> 
    <ion-content>
        <div><center>Group Name: {{groupTitle}}</center></div>
        <br />
        <br />
        <div><center>You Replied "PlainText": {{response}}</center></div>
        <br />
        <br />
        <div><center>You Replied "Encrypted": {{encryptedReply}}</center></div>
        <br />
        <br />
        <div><center>Encrypted Reply was sent to Server and Decrypted: {{decryptedResponse}}</center></div>
        <br />
        <br />
        <div><center>Triage System Responded {{triageResponse}}</center></div>
        <br />
        <br />
        <div id="selectCalDates" style="display: none">
            <div>Please Choose 3 Possible Dates for Appointment with {{group.CompanyName}}</div>
            <div><center><label>Date 1:</label><input ng-model="model.date1" type="date"> </center></div>
            <div><center><label>Date 2:</label><input ng-model="model.date2" type="date"> </center></div>
            <div><center><label>Date 3:</label><input ng-model="model.date3" type="date"> </center></div>

            <button id="authorize-button2" ng-click="insertGoogleEvent()">
                Insert Event
            </button>
            <button class="btn" ng-click="addEvent()">Add to event source as object in extended form</button>
            <button class="btn" ng-click="addEvent2()">Add to event source as array</button>
        </div>
        <div>

        </div>
        <ion-list>
            
            <ion-item ng-repeat="item in newEventList">
                <p>{{item}}</p>
            </ion-item>
        </ion-list>
        <iframe id="calendarFrame" ng-src="{{calendarurl}}" style="border: 0" width="325" height="500" frameborder="0" scrolling="yes"></iframe>


        
    </ion-content>
    

</ion-view>